.info-card {
    @include transitionEaseOutQuint(box-shadow);
    @include xl-block {
        &:hover {
            box-shadow: 0 2px 40px rgba(34, 155, 215, 0.15);
        }
    }
    box-sizing: border-box;
    border: 1px solid rgba(34, 155, 215, 0.15);
    background: #fff;
    border-radius: 16px;
    padding: 10px 13px;
    text-decoration: none;

    &__pic {
        border-radius: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 190px;
        overflow: hidden;
    }

    &__title {
        @include md-block {
            font-size: 20px;
            line-height: 30px;
            margin-top: 20px;
            min-height: 64px;
        }
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #343e44;
        margin-top: 12px;
        min-height: 32px;
        text-decoration: none;
    }

    &-section {

        &__inner {
            @include md-block {
                padding-left: 0;
            }
            display: flex;
            padding-left: 16px;
            padding-right: 32px;
        }

        &__prev, &__next {

            display: none;
            position: absolute;
            z-index: 2;
            top: 0;
            width: 79px;
            height: 100%;

            &:before {
                @include md-block {
                    width: 79px;
                }
                content: "";
                position: absolute;
                width: 48px;
                height: 100%;
            }

            .swiper-container-initialized & {
                display: block;
            }

            & .icon {
                @include xl-block {
                    top: 105px;
                }
                @include to($break_md) {
                    @include wh(32px);
                    background-size: 14px 12px;
                }
                position: absolute;
                z-index: 3;
                top: 88px;
            }

            &.swiper-button-disabled {
                display: none;
            }
        }

        &__prev {
            left: 0;

            &:before {
                left: -16px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 142.41%);
            }

            & .icon {
                left: 16px;
            }
        }

        &__next {
            right: 0;

            &:before {
                right: -16px;
                background: linear-gradient(270deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 142.41%);
            }

            & .icon {
                right: 16px;
            }
        }

        &--blog-head {
            @include xl-block {
                box-sizing: initial;
                margin: -25px;
                padding: 25px;
            }
            
            & .info-card {
                max-width: 384px;
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--category {
            @include xl-block {
                box-sizing: initial;
                margin: -24px;
                padding: 24px;
            }

            & .info-card {
                max-width: 282px;
                margin-right: 24px;

                &:last-child {
                    @include to($break_md) {
                        margin-right: 16px;
                    }
                    margin-right: 0;
                }
            }
        }
    }
}