
mixin info-card-section(data)
    section.info-card-section.swiper-container.js-info-card-slider&attributes(attributes)
            .__inner.swiper-wrapper
                for item in data
                    +info-card(item)

mixin info-card(data)
    a(href='#').info-card.swiper-slide&attributes(attributes)
        .__pic(style=`background-image: url(${data.img})`)
        .__title=data.title