//- Блок ссылки телефона

mixin phone(value)
    a.value.phone(href=`tel:${phoneReplace(value)}` itemprop="telephone")&attributes(attributes)=value


mixin phone-list
    .phone-list
        +phone('777-777')&attributes(attributes)
        +phone('222-222')&attributes(attributes)

mixin phone-footer
    +phone-list.phone--footer

mixin phone-title
    .phone-title&attributes(attributes)
        block

mixin phone-header
    .phone-row
        +phone-title Заказ по телефону:
        +phone-list.phone--header