
mixin slider-main
    section.slider-main.swiper-container.js-slider-main&attributes(attributes)
        .__wrapper.swiper-wrapper
            .__item.swiper-slide
                .__item-inner.js-parallax(style='background: radial-gradient(75.72% 133.81% at 31.35% 38.61%, #5BC5F2 11.46%, #169FDB 45.83%, #007BC2 90.62%);')
                    .__pattern
                        include pattern-1
                        +pattern-1

                    +container.__message-container
                        .__message
                            | Мы заботимся о здоровье каждого человека с первого дня жизни, производя и доставляя полезную воду Алтая «Легенда жизни»
                    .__pic.js-parallax-bg
                        svg.__pic-svg(width='1293', height='1030', viewBox='0 0 1293 1030', fill='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            path(opacity='0.15', d='M475.599 274.528C106.974 316.839 45.4824 482.02 31.4529 533.476C-8.0367 678.313 397.342 791.594 679.811 873.737C962.281 955.88 1010.15 1063.98 1121.2 994.91C1232.25 925.843 1284.93 733.162 1219.02 402.618C1158.41 98.6038 1024.83 74.0523 930.696 63.9718C801.132 50.0977 583.549 262.137 475.599 274.528Z', fill='#CCF0FF')
                            path(opacity='0.55', d='M508.12 324.489C194.266 394.987 156.507 543.051 149.163 588.702C128.492 717.198 488.389 777.429 739.464 822.164C990.538 866.899 1041.78 955.661 1131.13 885.874C1220.48 816.088 1248.1 645.132 1160.78 366.282C1080.47 109.813 963.062 100.979 880.984 100.979C768.018 100.979 600.031 303.843 508.12 324.489Z', fill='#5BC5F2')
                            path(d='M553.554 346.423C212.546 459.743 238.577 566.983 235.43 607.648C225.503 744.257 502.113 745.203 715.138 769.69C928.164 794.177 1059.38 865.996 1129.56 799.186C1199.74 732.375 1240.2 542.1 1109.2 361.044C978.193 179.989 943.04 146.703 832.942 143.802C738.136 141.304 640.666 317.475 553.554 346.423Z', fill='#229BD7')
                            mask#mask0(mask-type='alpha', maskUnits='userSpaceOnUse', x='286', y='217', width='894', height='599')
                                path(d='M555.068 362.311C332.385 451.866 295.118 527.481 288.228 561.267C265.678 674.827 521.243 700.166 715.735 739.583C910.228 779 1068.08 848.449 1139.48 798.708C1210.89 748.968 1185.52 583.791 1082.17 420.492C978.817 257.192 932.777 229.981 831.303 217.78C743.922 207.274 633.052 330.948 555.068 362.311Z', fill='#999999')
                            g(mask='url(#mask0)')
                                rect(x='-42.2285', y='-12.7852', width='1289.68', height='861.487', fill='url(#pattern0)')
                            mask#mask1(mask-type='alpha', maskUnits='userSpaceOnUse', x='476', y='117', width='621', height='563')
                                rect(x='476.912', y='117', width='619.289', height='562.061', fill='#C4C4C4')
                            g(mask='url(#mask1)')
                                rect(x='-42.2285', y='-12.7852', width='1289.68', height='861.487', fill='url(#pattern1)')
                            defs
                                pattern#pattern0(patternContentUnits='objectBoundingBox', width='1', height='1')
                                    use(xlink:href='#image0', transform='translate(-0.000208909) scale(0.000521051 0.000780031)')
                                pattern#pattern1(patternContentUnits='objectBoundingBox', width='1', height='1')
                                    use(xlink:href='#image1', transform='translate(-0.000208909) scale(0.000521051 0.000780031)')
                                image#image0(width='1920', height='1282', xlink:href='img/slider-main/bg-1.jpg')
                                image#image1(width='1920', height='1282', xlink:href='img/slider-main/item-1.png')
            .__item.swiper-slide
                .__item-inner.js-parallax(style='background: radial-gradient(75.72% 133.81% at 31.35% 38.61%, #5EBB5E 11.46%, #2D9D46 45.83%, #007E37 90.62%);')
                    .__pattern
                        img.__pattern-img.js-parallax-img(src='img/slider-main/pattern-2.svg', alt='pattern')
                    +container.__message-container
                        .__message
                            | Полезная вода Алтая для активных людей
                    .__pic.js-parallax-bg
                        svg.__pic-svg(width='1165', height='1031', viewBox='0 0 1165 1031', fill='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            path(opacity='0.4', d='M61.5 592.5C41 384 137 200.5 347.001 129.882C583.471 50.362 703 318.118 894 311C1113 316.118 1114.05 483.827 1112.5 575.882C1112.5 792.882 896.893 933.679 618 939C346.865 944.177 82 801 61.5 592.5Z', fill='#006029')
                            path(opacity='0.55', d='M125 613.5C91.0003 400.5 128.939 264.971 326 181.5C574.5 76.2396 758.393 388.383 925.5 378.5C1018.5 373 1085.05 458.089 1094.5 536.5C1108.32 651.144 1040.89 826.362 804.5 863.5C574.69 899.608 159 826.5 125 613.5Z', fill='#2D9D46')
                            path(d='M157.857 513.503C157.857 513.503 148.5 256.816 371 195.5C555.884 144.551 614.5 288.5 744 360.5C873.5 432.5 1048 420.5 1062.5 570.5C1073.83 742.999 875.268 839.431 661 847C452.691 854.361 156.719 775.876 157.857 513.503Z', fill='#5EBB5E')
                            mask#mask3(mask-type='alpha', maskUnits='userSpaceOnUse', x='207', y='219', width='835', height='604')
                                path(d='M211.636 448.659C211.636 448.659 251.159 240.321 430.427 220.042C609.697 199.762 728.289 482.285 868.494 471.905C1008.7 461.525 1051.19 552.714 1040.41 615.405C1024.63 707.066 787.082 844.493 586.857 820.159C392.2 796.505 172.168 692.314 211.636 448.659Z', fill='#F1F6FC')
                            g(mask='url(#mask3)')
                                rect(x='204', y='38', width='855', height='850', fill='url(#pattern3)')
                            mask#mask4(mask-type='alpha', maskUnits='userSpaceOnUse', x='537', y='143', width='450', height='507')
                                rect(x='537', y='143', width='450', height='507', fill='#C4C4C4')
                            g(mask='url(#mask4)')
                                rect(x='204', y='38', width='855', height='850', fill='url(#pattern4)')
                            defs
                                pattern#pattern3(patternContentUnits='objectBoundingBox', width='1', height='1')
                                    use(xlink:href='#image3', transform='translate(-0.000202288) scale(0.000625253)')
                                pattern#pattern4(patternContentUnits='objectBoundingBox', width='1', height='1')
                                    use(xlink:href='#image4', transform='scale(0.00100015)')
                                image#image3(width='1600', height='1590', xlink:href='img/slider-main/bg-2.jpg')
                                image#image4(width='1000', height='994', xlink:href='img/slider-main/item-2.png')
            +slider-main-3
            +slider-main-4
        .__pagination.swiper-pagination



mixin slider-main-3
    .slider-main__item.swiper-slide
        .slider-main__item-inner.js-parallax(style='background: linear-gradient(73deg, #A8E063 7.16%, #56AB2F 59.21%);')
            .slider-main__pattern
                img.slider-main__pattern-img.js-parallax-img(src='img/slider-main/pattern-3.svg', alt='pattern')
            +container.slider-main__message-container
                .slider-main__message
                    | Вкусные продукты
                    br
                    | и товары для дома
                    br
                    | с доставкой
            .slider-main__pic.js-parallax-bg
                svg.slider-main__pic-svg(width='1177' height='1093' viewBox='0 0 1177 1093' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                    path(opacity='0.4' d='M686.153 160.168C628.78 183.418 545.009 243.668 508.026 262.256C363.22 335.036 217.715 209.825 137.644 355.153C37.6441 536.652 67.8301 816.67 258.953 870.412C393.037 916.582 578.946 862.997 737.144 881.652C843.144 894.152 889.144 934.652 1050.95 813.053C1191.61 721.91 1217.85 474.081 1075.31 266.773C877.373 87.0204 743.526 136.917 686.153 160.168Z' fill='#96DB77')
                    path(opacity='0.95' d='M721.124 189.209C645.355 209.414 619.293 278.844 583.731 295.789C444.486 362.139 296.499 259.837 212.144 389.652C111.363 544.746 98.1435 825.152 281.644 848.652C409.144 900.152 508.644 869.652 662.644 869.652C763.144 869.652 913.605 862.675 1048.64 779.152C1183.68 695.628 1215.81 490.692 1075.78 295.789C935.745 100.882 796.893 169.005 721.124 189.209Z' fill='#4BAE1E')
                    path(d='M653.85 266.576C653.85 266.576 608.369 339.578 550.667 342.85C371.146 353.028 304.74 287.024 212.143 442.152C142.954 593.217 204.481 737.038 327.144 824.652C419.89 890.898 556.144 849.152 671.644 849.152C855.644 834.652 863.662 859.83 986.644 782.652C1109.63 705.475 1132.14 468.652 1075.18 350.573C948.541 171.916 744.16 159.892 653.85 266.576Z' fill='#0F9B0F')
                    mask#mask3-1(mask-type='alpha' maskUnits='userSpaceOnUse' x='250' y='203' width='818' height='634')
                        path(d='M677.152 268.633C677.152 268.633 588.895 365.653 536.152 365.414C439.33 364.972 350.694 321.385 282.897 428.486C230.29 522.371 242.871 640.248 315.344 722.764C375.445 805.073 518.788 837.359 635.578 835.972C744.499 834.678 834.84 810.008 944.374 735.757C1053.91 661.505 1120.54 508.268 1012.17 343.438C903.803 178.604 758.445 167.36 677.152 268.633Z' fill='#FFF2DD')
                    g(mask='url(#mask3-1)')
                        rect(x='243.144' y='145.652' width='823' height='823' fill='url(#pattern3-1)')
                    mask#mask3-2(mask-type='alpha' maskUnits='userSpaceOnUse' x='289' y='158' width='407' height='414')
                        rect(x='289.144' y='158.652' width='406' height='413' fill='#C4C4C4')
                    g(mask='url(#mask3-2)')
                        rect(x='288' y='166' width='823' height='823' fill='url(#pattern3-2)')
                    defs
                        pattern#pattern3-1(patternContentUnits='objectBoundingBox' width='1' height='1')
                            use(xlink:href='#image3-1' transform='scale(0.001)')
                        pattern#pattern3-2(patternContentUnits='objectBoundingBox' width='1' height='1')
                            use(xlink:href='#image3-2' transform='scale(0.001)')
                        image#image3-1(width='1000' height='1000' xlink:href='img/slider-main/bg-3.jpg')
                        image#image3-2(width='497' height='504' xlink:href='img/slider-main/item-3.png')
mixin slider-main-4
    .slider-main__item.swiper-slide
        .slider-main__item-inner.js-parallax(style='background: linear-gradient(237.93deg, #004F91 32.29%, #109FDA 87.26%);')
            .slider-main__pattern
                img.slider-main__pattern-img.js-parallax-img(src='img/slider-main/pattern-4.svg', alt='pattern')
            +container.slider-main__message-container
                .slider-main__message
                    | Помпа в подарок
                    br
                    | на дачу!
            .slider-main__pic.js-parallax-bg
                svg.slider-main__pic-svgsvg(width='1182' height='900' viewBox='0 0 1182 900' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                    path(opacity='0.5' d='M559.243 147.987C559.243 147.987 641.335 152.724 702.086 146.301C813.607 134.506 895.097 95.3546 1019.16 207.224C1131.83 321.278 1141.29 581.363 1075.01 694.164C1022.93 805.266 842.051 880.086 707.129 891.884C581.297 902.888 471.996 882.163 330.202 800.94C188.408 719.716 67.5595 489.412 158.015 268.312C248.467 47.2071 444.355 29.3017 559.243 147.987Z' fill='#229BD7')
                    path(d='M766.655 185.233C766.655 185.233 629.158 225.253 580.182 194.958C490.28 139.343 432.599 48.2203 308.406 109.291C205.891 166.717 150.397 283.65 170.832 401.805C179.865 512.714 223.074 660.882 332.613 726.179C434.772 787.077 604.814 779.238 749.141 772.552C893.469 765.865 1070.04 649.946 1063.11 434.679C1056.19 219.409 900.091 137.283 766.655 185.233Z' fill='#2C9BCA')
                    path(d='M751.113 138.179C679.114 206.304 584.113 61.6793 538.547 51.6791C514.113 41.6793 352.014 55.6794 287.614 161.679C207.114 294.179 176.205 469.102 238.592 563.492C288.382 655.935 418.719 733.204 538.114 748.179C649.465 762.146 728.398 765.09 850.614 704.679C972.83 644.268 1079.5 457.577 992.035 274.136C904.567 90.6908 823.112 70.0543 751.113 138.179Z' fill='#A5DDFA')
                    g(clip-path='url(#clip4-1)')
                        mask#mask4-2(mask-type='alpha' maskUnits='userSpaceOnUse' x='237' y='74' width='796' height='640')
                            path(d='M237.613 381.679C240.019 294.727 238.72 212.821 322.889 143.5C357.96 116.267 442.128 74.1792 498.241 74.1792C557.861 74.1792 587.917 114.218 622.987 143.927C672.086 183.539 714.17 218.199 791.325 223.151C840.423 225.627 903.55 210.772 949.141 223.151C1050.85 250.384 1040.61 381.679 1014.11 489.179C949.141 627.179 914.071 631.648 815.874 673.736C672.086 733.153 497.64 727.946 392.613 642.179C247.848 523.963 236.636 416.958 237.613 381.679Z' fill='#DADADA')
                        g(mask='url(#mask4-2)')
                            rect(x='157.114' y='-15.8208' width='879' height='879' fill='url(#pattern4-2)')
                    mask#mask4-1(mask-type='alpha' maskUnits='userSpaceOnUse' x='670' y='-7' width='315' height='522')
                        rect(x='670.113' y='-6.8208' width='314' height='521' fill='#C4C4C4')
                    g(mask='url(#mask4-1)')
                        rect(x='609' y='-15' width='879' height='879' fill='url(#pattern4-1)')
                    defs
                        pattern#pattern4-2(patternContentUnits='objectBoundingBox' width='1' height='1')
                            use(xlink:href='#image4-2' transform='scale(0.001)')
                        clippath#clip4-1
                            rect(width='811' height='643' fill='white' transform='translate(223.113 67.1792)')
                        pattern#pattern4-1(patternContentUnits='objectBoundingBox' width='1' height='1')
                            use(xlink:href='#image4-1' transform='scale(0.001)')
                        image#image4-2(width='1000' height='1000' xlink:href='img/slider-main/bg-4.jpg')
                        image#image4-1(width='454' height='652' xlink:href='img/slider-main/item-4.png')


