
// Font
$bold: 700;

// Font-family
$ff-Manrope: 'Manrope', sans-serif;
$ff-Tavolga: 'Tavolga', sans-serif;
$base-font: $ff-Manrope;

// Color
$base-color: #373737;
$button-color: #C4C4C4;
$skeleton-color: rgba(204, 204, 204, 0.4);