@import "icons-data";
@import "mixins";

.icon {
    @include outline-none;
    @include transitionEaseOutQuint(background);
    display: inline-block;
    cursor: pointer;
}

.icon-burger {
    @include icon-mobile-menu(2px, 30px);
    cursor: pointer;
    background-color: #ef5026;
    border-radius: 2px;

    &:before {
        @include icon-mobile-menu-before(2px, 30px, -9px, #ef5026);
        border-radius: 2px;
    }

    &:after {
        @include icon-mobile-menu-after(2px, 30px, 9px, #ef5026);
        border-radius: 2px;
    }

    .menu-opened &, &.active {
        transition: 0.5s;
        background: transparent;

        &:before {
            width: 30px;
            transform: rotateZ(45deg) translate(6px, 7px);
        }

        &:after {
            width: 30px;
            transform: rotateZ(-45deg) translate(6px, -7px);
        }
    }

    &.active-fixed {
        position: fixed;
        z-index: 101;
        top: 25px;
        right: 20px;
    }
}

.icon-favorite {
    @include wh(26px, 23px);
    @include icon-bgc(icon-favorite());
    &.in-favorite {
        @include icon-bgc(icon-favorite("229BD7", "229BD7"));
    }
    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}

.icon-product-cart {
    @include wh(20px);
    @include icon-bgc(icon-product-cart());
}

.icon-cart {
    @include wh(32px);
    @include icon-bgc(icon-cart());
}

.icon-favorite-cart {
    @include wh(32px);
    @include icon-bgc(icon-favorite-cart());
}

.icon-login {
    @include wh(32px);
    @include icon-bgc(icon-login());
}

.icon-person {
    @include wh(30px);
    @include icon-bgc(icon-person());
}

.icon-delete {
    @include wh(24px);
    @include icon-bgc(icon-delete());
}

.icon-plus {
    @include wh(20px);
    @include icon-bgc(icon-plus());
}

.icon-minus {
    @include wh(20px);
    @include icon-bgc(icon-minus());
}

.icon-share {
    @include wh(24px);
    @include icon-bgc(icon-share());
}

.icon-arrow-product-prev, .icon-arrow-product-next {
    @include wh(16px, 74px);
    @include icon-bgc(icon-arrow-triangle-thin());
}

.icon-arrow-product-next {
    @include rotate();
}

.icon-arrow-menu {
    @include wh(20px);
    @include icon-bgc(icon-arrow-menu());
}

@mixin soc-icon {
    @include wh(40px);
    border-radius: 50%;
}

.icon-soc-vk {
    @include soc-icon;
    @include icon-bgc(icon-vk());
    background-color: #597da3;
    background-size: 21.33px 12px;
}

.icon-soc-ok {
    @include soc-icon;
    @include icon-bgc(icon-ok());
    background-color: #f57c1f;
    background-size: 12px 20px;
}

.icon-soc-inst {
    @include soc-icon;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(49.12deg, #ffdd55 6.62%, #ff543e 50.06%, #c837ab 93.5%);

    &:before {
        @include wh(100%);
        @include icon-bgc(icon-inst());
        content: "";
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-size: 21.33px;
    }
}

.icon-personal-data {
    @include wh(24px);
    @include icon-bgc(icon-personal-data());
    background-size: 24px;
}

.icon-delivery {
    @include wh(24px);
    @include icon-bgc(icon-delivery());
    background-size: 24px;
}

.icon-search {
    @include wh(24px);
    @include icon-bgc(icon-search());
}

.icon-location {
    @include wh(16px);
    @include icon-bgc(icon-location());
}

.icon-payment {
    @include wh(24px);
    @include icon-bgc(icon-payment());
    background-size: 24px;
}

.icon-arrow-filter {
    @include wh(22px);
    @include icon-bgc(icon-arrow-triangle-small());
    background-size: 14px 7px;
}

.icon-home {
    @include wh(40px);
    @include icon-bgc(icon-home());
}

.icon-bottle {
    @include wh(40px);
    @include icon-bgc(icon-bottle());
}

.icon-bonus {
    @include wh(48px);
    @include icon-bgc(icon-bonus());
}

.icon-money {
    @include wh(48px);
    @include icon-bgc(icon-money());
}

.icon-cross {
    @include wh(20px);
    @include icon-bgc(icon-cross());
}

.icon-repeat {
    @include wh(20px);
    @include icon-bgc(icon-repeat());
}

.icon-notification {
    @include wh(25px);
    @include icon-bgc(icon-notification());
}

.icon-office {
    @include wh(40px);
    @include icon-bgc(icon-office());
    .active & {
        background-image: url(icon-office('fff'));
    }
}

.icon--counted {
    @include icon-counted;
}