-
    const getStockImg = (number) => `img/stocks/item-${number}.jpg`
    const getStock = (number, title, date) => ({
        img: getStockImg(number),
        title,
        date
    })
    const stocks = [
        getStock(
            1,
            "Позаботьтесь о близких. С нас - подарок",
            "До 30 июня 2020"
        ),
        getStock(
            2,
            "Подарок за совет!"
        ),
        getStock(
            3,
            "При покупке детской воды - дарим подарок!",
            "До 30 июня 2020"
        ),
        getStock(
            4,
            "Оставайтесь дома! Мы доставим всё необходимое!»"
        ),
        getStock(
            5,
            "Меняем бонусы на «Легенду»!"
        ),
        getStock(
            6,
            "Помпа в подарок на дачу!",
            "До 30 июня 2020"
        )
    ]