include stocks-data

mixin stocks
    section.stocks
        +container
            .__list
                for item in stocks
                    +stocks-item(item)

mixin stocks-item(item)
    a(href="#").stocks__item
        .stocks__img(style=`background-image:url(${item.img})`)
        .stocks__information
            span.stocks__date=item.date
            .stocks__title=item.title