

mixin menu-nav(data)
    nav.menu-nav&attributes(attributes)
        ul.__list
            for item in data
                li.__item
                    a(href='#' class={active: item.active}).__link
                        span=item.name