.header {
    @include md-block {
        padding-top: 33px;
        padding-bottom: 35px;
    }
    position: relative;
    border-bottom: 1px solid rgba(34, 155, 215, 0.15);

    &__inner {
        @include xl-block {
            align-items: flex-start;
        }
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__menu {
        @include from(1450px) {
            left: #{calc(((100% - 1200px) / 2) - 120px)};
        }
        @include from(1360px) {
            position: absolute;
            left: #{calc(((100% - 1200px) / 2) - 80px)};
        }
        @include lg-block {
            @include col;
            @include size(.8);
        }
        margin-left: 16px;

        &-icon {
            @include from(1450px) {
                @include wh(70px);
            }
            @include xl-block {
                @include wh(60px);
                background: #fff;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
            }
            @include md-block {
                @include wh(50px);
            }
            @include wh(24px);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &__logo {
        @include from(1360px) {
            @include size(3);
        }
        @include xl-block {
            @include size(2.5);
        }
        @include lg-block {
            @include size(3);
            @include col;
        }
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    &__center {
        @include col;
        @include header-tablet {
            @include size(5);
        }
        @include xl-block {
            @include size(6);
            padding-bottom: 10px;
        }
        @include size(5);
        box-sizing: border-box;
    }

    &__action {
        @include to(1359px) {
            @include size(3.7);
        }
        @include to($header-tablet - 1px) {
            @include size(2.7);
        }
        @include xl-block {
            @include size(4);
            padding-bottom: 25px;
            align-self: flex-end;
        }
        @include to($break_lg) {
            @include size(9);
        }
        @include md-block {
            @include col;
        }
        margin-left: auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__search {
        @include xl-block {
            margin-top: 24px;
        }
        max-width: 486px;

        & .search {
            @include lg-block {
                display: flex;
            }
            display: none;
        }

        &-icon {
            @include lg-block {
                display: none;
            }
            display: inline-block;
            margin-left: auto;
        }

        &-link {
            display: flex;
        }
    }

    &__top {
        @include xl-block {
            display: flex;
        }
        display: none;
        align-items: center;
        justify-content: space-between;
    }

    &__slider {

        &-container {
            @include wh(100%);
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            max-width: 1920px;
            margin: auto;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__menu-block {
        display: none;

        & .container {
            @include container-padding;
        }
    }

    &-main {
        @include md-block {
            padding-bottom: #{calc(45.1% - 118px)};
        }
        @include xs-block {
            padding-bottom: #{calc(45.1% - 118px)};
        }
        box-sizing: border-box;
        border-bottom: 0;
        & .cart__data-empty, & .cart__data-title, & .cart__data-value, & .location__name, & .phone-title, & .phone--header {
            color: #fff;
        }

        & .phone-list .phone {
            &:after {
                background: #fff;
            }
        }

        & .icon-login {
            background-image: url(icon-login('fff'));
        }

        & .icon-favorite-cart {
            background-image: url(icon-favorite('fff'));
        }

        & .icon-cart {
            background-image: url(icon-cart('fff'));
        }

        & .icon-person {
            background-image: url(icon-person('fff'));
        }

        & .icon-burger {
            @include to($break_xl) {
                background-color: #fff;
                &:before, &:after {
                    background-color: #fff;
                }
            }
        }

        & .search {
            background: rgba(255, 255, 255, 0.75);
        }
    }

    &-main &__search {
        &-icon {
            &.icon-search {
                background-image: url(icon-search('fff'));
            }
        }
    }

    & .logo {
        display: inline-flex;
        & svg {
            @include md-block {
                max-width: 100%;
            }
            width: 100%;
            min-width: 84px;
            max-width: 150px;
            height: 100%;
            min-height: 35px;
            margin-bottom: -10px;

            & .logo-subtitle {
                @include xl-block {
                    display: inline-block;
                }
                display: none;
            }
        }
    }

    &.menu-opened, &-main {
        & .logo {
            & svg path {
                fill: #fff;
            }

            & svg .logo-subtitle {
                fill: #f1f6fc;
            }
        }
    }

    &.menu-opened {
        @include to($break_lg) {
            & .icon-burger {
                &:before, &:after {
                    background-color: #dbe8f9;
                }
                background-color: transparent;
            }
        }
    }

    &.menu-opened & {
        &__logo {
            @include to($break_lg) {
                display: none;
            }
            position: relative;
            z-index: 1001;
        }

        &__menu {
            @include from(1360px) {
                position: absolute;
            }
            z-index: 1001;
        }

        &__menu-icon {
            @include to($break_lg) {
                @include wh(24px);
                position: absolute;
                top: 21px;
                right: 16px;
            }
        }

        &__menu-block {
            @include wh(100%);
            @include lg-block {
                padding-top: 225px;
            }
            padding-top: 64px;
            box-sizing: border-box;
            display: block;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            background: #229bd7;

            & .container {
                @include lg-block {
                    border: none;
                }
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
}