
include ../../components/logo/logo
include ../../components/cart/cart
include ../../components/search/search
include ../../components/location/location
include ../../components/phone/phone

mixin header(isMain)
    header.header(
            class={'header-main': isMain}
        )&attributes(attributes)
        +container
            .__inner
                .__logo
                    +logo
                .__center
                    .__top
                        .__location
                            +location
                        .__phone
                            +phone-header
                    .__search
                        +search
                .__action
                    +cart
            if isMain
                .__slider-container
                    .__slider-wrap
                        .__slider
                            img(src='img/header/slider-1.jpg')

