
include ../../components/logo/logo
include ../../components/cart/cart
include ../../components/search/search
include ../../components/location/location
include ../../components/phone/phone
include ../../components/menu/menu
include ../../components/menu-soc/menu-soc

mixin header(isMain)
    header#header.header(
            class={'header-main': isMain}
        )&attributes(attributes)
        +container
            .__inner
                .__menu
                    .__menu-icon#header-menu-open
                        +icon('burger')
                .__logo
                    +logo
                .__center
                    .__top
                        .__location
                            +location
                        .__phone
                            +phone-header
                    .__search
                        +search
                .__action
                    a(href='javascript:void(0)').__search-link
                        +icon('search').cart__icon.__search-icon
                    +cart
            .__menu-block
                +container
                    a(href='/favorite').__menu-favorite.js-vue-cart
                        span.__menu-favorite-text Избранное
                        span.__menu-favorite-cnt(v-if="hasInFavorites") {{ cntFavorites }}
                    +menu
                +container.__menu-soc
                    +menu-soc
            if isMain
                .__slider-container
                    .__slider-wrap
                        .__slider
                            img(src='img/header/slider-1.jpg')

