.authors {
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #85a0ad;
    }

    &__logo {
        display: inline-block;
        margin-left: 5px;
    }

    &:hover &__hand {
        transform-origin: 5px 10px;
        animation: swing-hand 1s;
    }
}

@keyframes swing-hand {
    0% {
        @include rotate(0);
    }

    50% {
        @include rotate(-25deg);
    }

    100% {
        @include rotate(0);
    }
}
