-
    const state = {
        user: {
            id: '',
            token: '',
            person: {
                fio: '',
                phone: '',
                email: '',
                birthDate: '',
                bonus: 0,
                bottle: 0,
                balance: 0
            }
        },
        cart: [{"id":"14","cnt":1},{"id":"15","cnt":2}],
        cities: [
            {
                code: 'barnaul',
                name: 'Барнаул',
                isLocation: true
            },
            {
                code: 'biysk',
                name: 'Бийск',
                isLocation: true
            },
            {
                code: 'novoaltaisk',
                name: 'Новоалтайск'
            },
        ],
        bottles: [
            {
                id: 1,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Янтарь и селен',
                img: '/img/product/item-3.png',
                cnt: 1
            },
            {
                id: 2,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод, фтор и селен',
                img: '/img/product/item-2.png',
                cnt: 1
            },
            {
                id: 3,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод',
                img: '/img/product/item-1.png',
                cnt: 1
            },
            {
                id: 4,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Без добавок',
                img: '/img/product/item-6.png',
                cnt: 1
            }
        ],
        bottlesLimit: [
            {
                id: 1,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Янтарь и селен',
                img: '/img/product/item-3.png',
                cnt: 2,
                limit: 4
            },
            {
                id: 2,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод, фтор и селен',
                img: '/img/product/item-2.png',
                cnt: 1,
                limit: 2
            },
            {
                id: 3,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод',
                img: '/img/product/item-1.png',
                cnt: 3,
                limit: 5
            },
            {
                id: 4,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Без добавок',
                img: '/img/product/item-6.png',
                cnt: 1,
                limit: 1
            }
        ],
        cartWarningMessages: [
            'Ваш кулер готов, вы можете забрать его!',
            'Восемь бутылей вы можете списать'
        ]
    }

script.
    window.__INITIAL_STATE__ = JSON.parse('!{JSON.stringify(state)}')