-
    const state = {
        user: {
            id: '',
            token: '',
            person: {
                fio: '',
                phone: '',
                email: '',
                birthDate: '',
                bonus: 0,
                bottle: 0,
                balance: 0
            }
        },
        cities: [
            {
                code: 'barnaul',
                name: 'Барнаул',
                isLocation: true
            },
            {
                code: 'biysk',
                name: 'Бийск',
                isLocation: true
            },
            {
                code: 'novoaltaisk',
                name: 'Новоалтайск'
            },
        ]
    }

script.
    window.__INITIAL_STATE__ = JSON.parse('!{JSON.stringify(state)}')