-
    const state = {
        user: {
            id: '1',
            token: '123',
            person: {
                fio: 'test',
                phone: '79981234567',
                email: 'test@test.test',
                birthDate: '2000-09-12',
                bottle: 2,
                bonus: 1,
                balance: 0
            },
            wish: ["14", "15"],
            address: {
                home: [
                    {
                        address: "Ленина 1",
                        city: { code: "barnaul", name: "Барнаул" },
                        code: "barnaul",
                        name: "Барнаул",
                        date: "",
                        id: 1,
                        time: "",
                        title: "Дом",
                        type: "home"
                    }
                ],
                office: [
                    {
                        address: "Ленина 2",
                        city: {code: "barnaul", name: "Барнаул"},
                        code: "barnaul",
                        name: "Барнаул",
                        date: "",
                        id: 2,
                        time: "",
                        title: "Офис",
                        type: "office",
                    },
                ],
            }
        },
        selectType: true,
        needEmail: true,
        cart: [{"id":"14","cnt":1},{"id":"15","cnt":2}],
        cartBottle: [
            {
                title: 'Тара на замену 19 л',
                price: 150,
                id: "100"
            },
            // {
            //     title: 'Тара на замену 14 л',
            //     price: 120,
            //     id: "101"
            // }
        ],
        cities: [
            {
                code: 'barnaul',
                name: 'Барнаул',
                isLocation: true
            },
            {
                code: 'biysk',
                name: 'Бийск',
                isLocation: true
            },
            {
                code: 'novoaltaisk',
                name: 'Новоалтайск'
            },
        ],
        bottles: [
            {
                id: 1,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Янтарь и селен',
                img: '/img/product/item-3.png',
                limit: 3
            },
            {
                id: 2,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод, фтор и селен',
                img: '/img/product/item-2.png',
                limit: 4
            },
            {
                id: 3,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод',
                img: '/img/product/item-1.png',
                limit: 4
            },
            {
                id: 4,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Без добавок',
                img: '/img/product/item-6.png',
                limit: 4
            }
        ],
        bottlesLimit: [
            {
                id: 1,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Янтарь и селен',
                img: '/img/product/item-3.png',
                cnt: 2,
                limit: 4
            },
            {
                id: 2,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод, фтор и селен',
                img: '/img/product/item-2.png',
                cnt: 1,
                limit: 2
            },
            {
                id: 3,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Йод',
                img: '/img/product/item-1.png',
                cnt: 3,
                limit: 5
            },
            {
                id: 4,
                link: '#',
                title: 'Легенда жизни 19л',
                desc: 'Без добавок',
                img: '/img/product/item-6.png',
                cnt: 1,
                limit: 1
            }
        ],
        cartWarningMessages: [
            'Ваш кулер готов, вы можете забрать его!',
            'Восемь бутылей вы можете списать'
        ]
    }

script.
    window.__INITIAL_STATE__ = JSON.parse('!{JSON.stringify(state)}')