
mixin footer-social
    article.footer-social
        a(href='#' target='_blank').__link
            +icon('soc-vk').__item
        a(href='#' target='_blank').__link
            +icon('soc-ok').__item
        a(href='#' target='_blank').__link
            +icon('soc-inst').__item