.footer-social {
    display: flex;
    align-items: center;

    &__link {
        @include transitionEaseOutQuint(opacity);
        display: inline-block;
        height: auto;
        text-decoration: none;
        line-height: 0;
        margin-right: 20px;

        &:hover {
            opacity: .8;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}