include ../../components/ui-kit/ui-kit
include ../../components/icon/icon

.modal.js-modal(data-modal-type='request-call')
    +icon('cross', ['modal__close', 'js-modal-close'])
    .modal__inner
        form(action='', method='post').form.modal__form.validator.js-form-request-call
            .form-title Заказать звонок
            .form__body
                .form__row
                    .form__hulf
                        +field('name', 'Ваше имя')(data-validator-require='true')
                    .form__hulf
                        +field('phone', 'Номер телефона')(data-validator-require='true' data-validator-type='phone' class='js-mask-phone')
                .form__row
                    .form__full
                        +field-area('comment', 'Комментарий (необязательно)')
            .__footer
                .__button
                    +button('Отправить', false, 'submit')(class='consultation__button')
                .__policy.consultation__policy Нажимая на кнопку «Отправить», вы подтверждаете свое согласие на обработку персональных данных