.product-composition {
    text-align: right;
    &__item {
        box-sizing: border-box;
        border: 1px solid #e8f2f7;
        border-radius: 8px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 15px;
        color: #657a87;
        text-align: center;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}