
mixin menu-soc
    article.menu-soc
        .__list
            a(href='#').__item
                +icon('menu-soc-vk')
            a(href='#').__item
                +icon('menu-soc-ok')
            a(href='#').__item
                +icon('menu-soc-inst')
            a(href='#').__item
                +icon('menu-soc-youtube')