.quantity {
    display: flex;
    align-items: center;
    min-width: 140px;
    height: 100%;
    max-height: 64px;

    &__input {
        @include outline-none;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        width: 100%;
        border: none;
        padding: 0;
        font-size: 16px;
        line-height: 27px;
        text-align: right;
        color: #000;
        background: transparent;
    }

    &__value {
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        margin: auto;
    }

    &__button {
        @include md-block {
            padding: 22px 12px;
        }
        box-sizing: border-box;
        display: inline-flex;
        align-self: center;
        justify-content: center;
        border: none;
        padding: 12px;
        background: transparent;

        &--minus {
            padding-right: 2px;
        }

        &--plus {
            padding-left: 5px;
        }

        &:disabled .icon-plus, &:disabled .icon-minus {
            cursor: not-allowed;
        }
    }

    &__type {
        font-size: 16px;
        line-height: 27px;
        color: #000;
        margin-left: 2px;
    }

    &--detail {
        background: #f9f9f9;
        border-radius: 32px;

        & .icon-minus {
            background-image: url(icon-minus('007BC2'));
        }

        & .icon-plus {
            background-image: url(icon-plus('007BC2'));
        }
    }

    &--detail & {
        &__type {
            display: none;
        }

        &__value {
            margin: auto;
        }

        &__input {
            text-align: center;
        }

        &__button {
            @include md-block {
                padding: 22px 12px;
            }
            padding: 16px 12px;
            &:disabled .icon-minus {
                cursor: not-allowed;
                background-image: url(icon-minus('AEAEAE'));
            }
        }
    }

    &--mini {
        min-width: 114px;
        height: 44px;
        background: #f9f9f9;
        border-radius: 32px;
    }

    &--mini & {
        &__type {
            display: none;
        }

        &__value {
            margin: auto;
        }

        &__input {
            text-align: center;
        }
    }

    &--type-empty {
        min-width: 110px;
    }
}
/* stylelint-disable-next-line */
quantity-counter {
    min-width: 140px;
}