extends ../layouts/default

block variables
	- const title = 'О компании'
	- const h1 = title
	- isInnerPage = true
	include ../data/inner

block content
	include ../../blocks/components/content/content
	include ../../blocks/components/achieve/achieve
	include ../../blocks/components/about-category/about-category
	+content-half
		.content__half
			.content__text
				p ООО «Барнаульская водяная компания» заботится о здоровье своих клиентов, обеспечивая их полезной питьевой водой высшей категории качества «Легенда жизни».
				p Для производства «Легенды» мы добываем воду из артезианских скважин с глубины 240 и 280 метров. Водоподготовка и розлив «Легенды» происходят непосредственно у источника. Вода разливается в бутыли объемом 19, 11, 4 литров, а также в мелкую тару 0,33-5 литров и доставляется клиентам домой, на работу, в детские сады и школы.
				p Для удобного и гигиеничного разбора воды из бутыли мы предлагаем специальное оборудование - кулеры, помпы и диспенсеры. Мы осуществляем гарантийное и постгарантийное обслуживание раздатчиков воды и их санитарную обработку.
		.content__half
			svg(class='' width='611', height='430', viewBox='0 0 611 430', fill='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
				path(d='M600 150C635.223 331.278 500.227 403.478 328.13 419.683C224.685 429.424 17.8176 443.297 4.00217 300C-4.07383 216.217 -14.0009 61.7933 158.299 24.6595C324.012 -11.0554 564.777 -31.2789 600 150Z', fill='#EFFAFF')
				path(d='M610.002 182.999C597.601 296.519 453.245 429.999 299.587 429.999C145.929 429.999 36.926 344.15 29.001 244.5C21.8275 154.299 37.5015 41.0862 166.501 17.4998C348.305 -15.742 622.403 69.4791 610.002 182.999Z', fill='#9EDDF8')
				path(d='M583.003 196.249C583.003 358.999 462.594 407.999 322.062 407.999C181.53 407.999 53.1392 322 46.0028 216.999C38.8664 111.999 57.3476 70.9154 177.703 26.0737C297.545 -8.50019 583.003 33.4998 583.003 196.249Z', fill='#229BD7')
				path(d='M563.55 214.629C552.947 311.762 495.325 394 363.939 394C232.554 394 71.8407 320.506 60.903 207.69C52.79 124.016 98.5652 23 229.951 23C395.392 23 574.154 117.496 563.55 214.629Z', fill='url(#pattern0)')
				defs
					pattern#pattern0(patternContentUnits='objectBoundingBox', width='1', height='1')
						use(xlink:href='#image0', transform='translate(-0.0520833) scale(0.00136824 0.00185874)')
					image#image0(width='807', height='538', xlink:href='img/content/about.png')
	+about-category
	+achieve-section




