extends ../layouts/default

block variables
    - const title = "Блог";
    - const h1 = "Изменим мир к лучшему"
    - isInnerPage = true
    include ../data/blog

block content
    include ../../blocks/components/blog/blog
    +blog