extends ../layouts/default

block variables
    - const title = "Бонусная программа";
    - const h1 = title
    - isInnerPage = true
    include ../data/inner

block content
    include ../../blocks/components/section/section
    include ../../blocks/components/content/content
    include ../../blocks/components/share/share
    +content
        .content-text
            p
                | Бонусы начисляются в трех случаях:
            ol
                li
                    | Единовременно за регистрацию на сайте 777-777.org
                li
                    | За покупку любого вида воды «Легенда жизни», 19 л. в на сайте
                li
                    | За каждую покупку любого вида воды «Легенда жизни», 19 л. в
                    a(href='/contacts/') Водомаркете
            h3 Система начисления бонусов
            table(border='1')
                tbody
                    tr
                        td 1
                        td Регистрация на сайте «легенда жизни»
                        td 700 бонусов
                    tr
                        td 2
                        td Покупка воды «легенда жизни» с янтарной кислотой и селеном, 19 л.
                        td 65 бонусов
                    tr
                        td 3
                        td Покупка воды «легенда жизни» бизнес», 19 л.
                        td 60 бонусов
                    tr
                        td 4
                        td Покупка воды «легенда жизни» с йодом, фтором и селеном, 19 л.
                        td 60 бонусов
                    tr
                        td 5
                        td Покупка воды «легенда жизни» с йодом, 19 л.
                        td 55 бонусов
                    tr
                        td 6
                        td Покупка воды «легенда жизни» без добавок, 19 л.
                        td 50 бонусов
                    tr
                        td 7
                        td Покупка любого вида воды «легенда жизни», 19 л. в водомаркете
                        td 70 бонусов
                    tr
                        td 8
                        td Стоимость 1 бутыли любого вида воды «легенда жизни», 19 л.
                        td 800 бонусов
            br
            h3
                | Правила начисления бонусов за покупку воды «Легенда жизни», 19 л. в интернет-магазине
            ol
                li
                    | При покупке 2 и более бутылей воды «Легенда жизни», 19 л.
                    b разного вида
                    |  бонусы начисляются по
                    a(href='/catalog/') наиболее полезному виду
                    |  воды в заказе.
                li
                    | Бонусы начисляются за 1 заказ
                    b независимо сколько в нем бутылей
                    |  воды.
                li
                    | Бонусы начисляются за 1 заказ один раз в сутки.
                    i
                        | Например: если за одни сутки Вы решили оформить 2 заказа (на завтра и на послезавтра), то бонусы будут начислены только один раз за первый заказ.
                li
                    | Стоимость 1 бутыли любого вида воды «Легенда жизни», 19 л. = 800 бонусов.
                li
                    | Срок действия бонусов не ограничен, т.е. они не аннулируются по истечении времени.
            br
            h3 Правила начисления бонусов за покупку воды «Легенда жизни», 19 л. в Водомаркете
            ol
                li
                    | Бонусы начисляются за 1 покупку
                    b независимо от количества бутылей и вида воды
                    |  в чеке.
                li
                    | Бонусы начисляются
                    b 1 раз в сутки
                    |  независимо от количества покупок, совершенных в Водомаркете.
                li
                    | Стоимость 1 бутыли любого вида воды «Легенда жизни», 19 л. = 800 бонусов.
                li
                    | Срок действия бонусов не ограничен, т.е. они «не сгорают» по истечении времени.
            br
            h3 Как оплачивать воду бонусами?
            p Оплатить «Легенду» бонусами можно тремя способами:
            ol
                li
                    | При оформлении покупки на сайте. Для оплаты бонусами воды «Легенда жизни», 19 л. во вкладке
                    b Корзина / оплата и дополнительные услуги
                    |  при оплате заказа поставьте галочку под кнопкой «Бонусы списать», нажмите кнопку «Вперед». Бонусы с Вашего счета автоматически будут списаны.
                li
                    | При заказе воды в
                    a(href='/contacts/') call-центре
                    | . Для оплаты бонусами назовите оператору свои ФИО и адрес доставки.
                li
                    | При покупке воды в
                    a(href='/contacts/') Водомаркете
                    | . Для оплаты бонусами назовите консультанту свои ФИО и адрес доставки.
                li
                    | Срок действия бонусов не ограничен, т.е. они «не сгорают» по истечении времени.
            p
                | Информацию о количестве накопленных бонусах узнавайте в Вашем Личном кабинете на сайте.
