extends ../layouts/default

include ../../blocks/modules/inner-page/inner-page
include ../../blocks/components/product/product
include ../../blocks/components/filter/filter

block variables
	- const title = "Полезная вода Алтая";
	- const h1 = title
	- isInnerPage = true
	include ../../views/data/catalog


block content
	+filter
	+product-list(true)