extends ../layouts/default

include ../../blocks/modules/inner-page/inner-page
include ../../blocks/components/product-detail/product-detail
include ../../blocks/components/product/product

block variables
	- const title = "«Легенда жизни» 19л";
	- const h1 = title
	include ../../views/data/catalog


block content
	include ../../blocks/components/product/data
	include ../../blocks/components/stocks/stocks
	include ../../blocks/components/gallery/gallery
	+inner-page(false)
	+product-detail
	+product-section-recommendation(
		false,
		productRecommendation
	)
	+stocks-section
	+gallery
