extends ../layouts/default

block variables
	- const title = "Главная";

block content
	include ../../blocks/components/infographic/infographic
	include ../../blocks/components/product/product
	include ../../blocks/components/product/data
	+product-section(
		'Полезная вода Алтая',
		productWater
	)
	+product-section(
		'Продукты питания',
		productFood
	)
	+product-section(
		'Товары для дома',
		productHome
	)
	+product-section(
		'Оборудование для воды',
		productEquipment
	)
	+infographic