extends ../layouts/default

block variables
    - const title = "«Легенде жизни» 18 лет!";
    - const h1 = title
    - isInnerPage = true
    include ../data/news

block content
    include ../../blocks/components/section/section
    include ../../blocks/components/content/content
    include ../../blocks/components/share/share
    +content
        .content-head
            .content-date 4 июля 2019
            .content-tag-list
                a(href='#').content-tag Новости
        img(src='img/content/news.jpg' alt=title).content-preview
        .content-text
            p 4 июля – знаменательная дата для Барнаульской водяной компании. Именно в этот день 18 лет назад было основано наше легендарное предприятие. И вот уже 18 лет мы заботимся о здоровье каждого человека с первого дня жизни, производя и доставляя полезную питьевую воду.
            p За плечами уже немалый срок - 18 лет, однако мы продолжаем расти!
            p Из маленькой барнаульской фирмы мы превратились в стабильную, развивающуюся Компанию, которая задает тренды на рынке питьевой воды Алтайского края.
            p Мы ставим новые цели и идём вперед, сохраняя главное: накопленный опыт, сплоченную профессиональную Команду, надежных Партнеров и, конечно, своих Клиентов, благодаря которым - и ради которых - компания развивается и растет.
            p Мы говорим искреннее «Спасибо» нашим Клиентам, которые разделяют с нами ценность здорового образа жизни и выбирают полезную воду. А мы со своей стороны обещаем всегда поддерживать высокий уровень сервиса: оперативно доставлять Вам воду и оборудование, радовать Вас дружелюбным общением и дарить вам подарки.
            p Пейте чистую и полезную воду «Легенда жизни» и будьте здоровы!
            p Сегодняшний рабочий день начался с награждения почетными грамотами и подарками лучших сотрудников нашей Компании. Многие их которых, работают здесь со дня основания - далекого 2001-го года.
        .content-footer
            .__inner
                +share
    +section-hr
    include ../../blocks/components/product/product
    include ../../blocks/components/product/data
    +product-section-recommendation(
        'Товары из статьи',
        productInNews
    )
        +section-nav('Все новости')



