extends ../layouts/default

include ../../blocks/modules/inner-page/inner-page

block variables
    - const title = "Акции";
    - const h1 = title
    include ../data/inner

block content
    include ../../blocks/components/stocks/stocks
    +inner-page
    +stocks