extends ../layouts/default

block variables
    - const title = "Акции";
    - const h1 = title
    - isInnerPage = true
    include ../data/inner

block content
    include ../../blocks/components/stocks/stocks
    +stocks