.section {
    @include md-block {
        margin-bottom: 80px;
    }
    margin-bottom: 56px;

    &__inner {
        @include row-flex;
    }

    &__head {
        @include md-block {
            margin-bottom: 40px;
        }
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--inner-page {
        @include md-block {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        margin-top: 16px;
        margin-bottom: 12px;

        & .container {
            @include container-padding;
        }
    }

    &--category {
        @include md-block {
            margin-bottom: 96px;
        }
        margin-bottom: 56px;

        & .container {
            @include container-padding;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &--add-to-cart & {

        @include to($break_md) {
            &__link {
                display: none;
            }

            &__title {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    &--category & {
        &__title {
            @include md-block {
                width: #{calc(100%  - 200px)};
            }
            width: #{calc(100%  - 130px)};
            margin-right: 8px;
        }
    }

    &--recommendation {
        & .container {
            @include container-padding;
        }
    }

    &-title {
        @include md-block {
            margin-top: 32px;
            margin-bottom: 40px;
        }
        margin-top: 12px;
        margin-bottom: 22px;
        vertical-align: middle;

        & .container {
            @include container-padding;
        }

        .inner-page & {
            margin-bottom: 20px;
        }
    }
}
