-
    const sliderProductImg = img => `img/slider-product/${img}`
    const sliderProductItem = (img, href, type) =>
            ({
                img: sliderProductImg(img),
                href: href ? sliderProductImg(href) : sliderProductImg(img),
                type: type || 'img'
            })
    const sliderProduct = [
        sliderProductItem('item-1.png'),
        sliderProductItem('item-2.png'),
        sliderProductItem('preview-video.jpg', 'video.mp4', 'video'),
    ];
