.slider-product {
    position: relative;
    width: 100%;
    max-width: 440px;

    &__arrow-prev, &__arrow-next {
        position: absolute;
        z-index: 2;
        top: 50%;
    }

    &__arrow-next {
        right: 13px;
    }

    &__arrow-prev {
        left: 13px;
    }

    &__pagination {
        margin-top: 32px;
        text-align: center;
        & .swiper-pagination-bullet {
            @include wh(12px);
            display: inline-block;
            margin: 0 8px;
            background: #e6edf1;
            border-radius: 50%;

            &-active {
                background: #ef5026;
            }
        }
    }
}
