.checkout {
    @include md-block {
        margin-top: 42px;
    }
    margin-top: 26px;

    .button ~ &-back {
        margin-left: 16px;
    }

    &__header {
        @include md-block {
            margin-bottom: 51px;
        }
        margin-bottom: 23px;
    }

    &__body {
        @include row-flex;
        @include md-block {
            margin-top: 53px;
        }
        margin-top: 23px;

        &-half {
            @include size(12);
            @include col;
            @include lg-block {
                & + & {
                    margin-top: 0;
                }
            }
            &:first-child {
                @include size-xl(6);
                @include size-lg(5);
            }
            &:last-child {
                @include size-xl(6);
                @include size-lg(7);
            }
            & + & {
                margin-top: 36px;
            }
        }
    }

    &__welcome {
        &-buttons {
            display: flex;
            align-items: center;

            & .button {
                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
    }

    &__title {
        display: none;

        &--auth {
            display: block;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #343434;
            margin-bottom: 24px;
        }
    }

    &__desc {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 21px;
        color: #000;
    }

    &__thanks {
        @include md-block {
            margin-bottom: 28px;
        }
        font-size: 16px;
        line-height: 25px;
        color: #343e44;
        margin-bottom: 20px;
    }

    &__button {
        @include md-block {
            margin-top: 36px;
        }
        margin-top: 30px;
    }

    &__nav {
        @include md-block {
            display: block;
        }
        display: none;
        margin-bottom: 42px;
    }

    &__checkbox-list {
        margin-top: 24px;
    }

    &__checkbox-item {
        & + & {
            margin-top: 20px;
        }
    }

    & .container {
        @include container-padding;
    }

    &-nav {
        @include md-block {
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
        }
        display: flex;
        flex-direction: column;

        &__inner {
            display: flex;
            flex-direction: column;
        }

        &__head {
            @include md-block {
                display: none;
            }
            @include md-block {
                &:before {
                    content: none;
                }
            }
            display: flex;
            flex-direction: column;
            &:before {
                content: "";
                position: relative;
                width: 1px;
                height: 20px;
                background: rgba(34, 155, 215, 0.15);
                margin: 8px 15px;
            }
        }

        &__body {
            @include to($break_md) {
                margin-top: 12px;
                margin-bottom: 5px;
            }
        }

        &__item {
            position: relative;
            list-style: none;
            width: auto;
        }

        &__item:first-child &__head {
            &:before {
                content: none;
            }
        }

        &__link {
            display: inline-flex;
            align-items: center;
            cursor: not-allowed;
            pointer-events: none;
            text-decoration: none;
            width: 100%;
        }

        &__icon {
            @include to($break_md) {
                @include wh(30px);
                background-size: 18px;
            }
            @include wh(48px);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-color: #ced8dd;
        }

        &__text {
            @include md-block {
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
                width: #{calc(100% - 68px)};
            }
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #ced8dd;
            margin-left: 12px;
        }
    }

    &__nav &-nav__item {
        @include md-block {
            display: flex;
            align-items: center;
            width: #{calc(100% / 3)};
            &:after {
                content: "";
                display: flex;
                flex: 1 1 auto;
                position: relative;
                width: auto;
                height: 1px;
                background: rgba(34, 155, 215, 0.15);
                margin-right: 16px;
                margin-left: 16px;
            }
        }
    }

    &__nav &-nav {
        justify-content: space-between;
    }

    &__nav &-nav__head {
        display: block;
    }

    &-nav--two &-nav__item {
        @include md-block {
            width: 100%;
        }
        width: 100%;

        &:last-child {
            @include xl-block {
                min-width: 40%;
            }
            @include md-block {
                width: auto;
                min-width: 30%;
            }
            width: 100%;
            &:after {
                content: none;
            }
        }
    }

    &-nav__item--done & {
        &-nav__icon {
            background-color: #2d9d46;
            background-image: url(icon-check());
        }
    }

    &-nav__item--active ~ &-nav__item & {
        &-nav__icon {
            background-color: #ced8dd;
        }
    }

    &-nav__item--active & {
        &-nav__link {
            pointer-events: auto;
            cursor: pointer;
        }

        &-nav__icon {
            background-color: #229bd7;
        }

        &-nav__text {
            color: #000;
        }
    }

    &-subtitle {
        @include md-block {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 32px;
        }
        font-family: $ff-Tavolga;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        color: #1b262c;
        margin-bottom: 18px;
    }

    &-desc {
        @include md-block {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
        font-size: 16px;
        line-height: 22px;
        color: #343e44;
        margin-bottom: 18px;
    }

    &-stucture {
        @include md-block {
            padding: 40px 50px 70px;
        }
        @include sm-block {
            padding: 24px;
        }
        box-sizing: border-box;
        padding: 24px 12px;
        background: #fff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

        &__title {
            @include md-block {
                font-size: 24px;
                line-height: 32px;
            }
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #004f91;
        }

        &__edit {
            @include md-block {
                margin-left: 24px;
            }
            margin-left: 20px;
        }

        &__head {
            @include md-block {
                margin-bottom: 28px;
            }
            margin-bottom: 14px;
            display: flex;
            align-items: center;
        }

        &__total {
            @include md-block {
                margin-bottom: 52px;
            }
            margin-bottom: 24px;

            &-head {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &-data {
                margin-bottom: 5px;
                margin-right: 5px;
            }

            &-title {
                @include md-block {
                    font-size: 16px;
                    line-height: 25px;
                    margin-bottom: 0;
                }
                font-size: 13px;
                line-height: 16px;
                color: #343e44;
                margin-bottom: 6px;
            }

            &-value {
                @include md-block {
                    font-size: 32px;
                    line-height: 36px;
                }
                font-weight: 600;
                font-size: 25px;
                line-height: 27px;
                color: #1b262c;
            }

            &-bonus {
                @include md-block {
                    font-size: 16px;
                    line-height: 22px;
                }
                font-size: 14px;
                line-height: 20px;
                color: #fb6565;
                margin-top: 4px;
            }
        }

        &__agree {
            @include md-block {
                margin-top: 20px;
            }
            margin-top: 14px;
        }
    }

    &-success {
        @include sm-block {
            margin-top: 64px;
        }
        margin-top: 16px;
        &__inner {
            @include sm-block {
                padding: 72px 112px 130px;
            }
            @include to($break_sm) {
                background-size: contain;
                padding: 55px 50px 70px;
            }
            @include to(rem(420)) {
                background-size: cover;
                padding: 32px 30px 100px;
            }
            box-sizing: border-box;
            width: 100%;
            max-width: 554px;
            margin: 0 auto;
            padding: 32px 50px 70px;
            background-image: url(pattern-order());
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
        }

        &__title {
            @include sm-block {
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 24px;
            }
            font-family: $ff-Tavolga;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #004f91;
            margin-bottom: 16px;
        }

        &__number {
            @include sm-block {
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 24px;
            }
            font-size: 18px;
            line-height: 22px;
            color: #373737;
            margin-bottom: 16px;
            white-space: nowrap;
        }

        &__desc {
            @include sm-block {
                font-size: 16px;
                line-height: 25px;
                margin: auto auto 32px;
            }
            font-size: 14px;
            line-height: 21px;
            color: #373737;
            max-width: 295px;
            margin: auto auto 16px;
        }
    }

    &-auth, &-personal-data, &-delivery, &-payment, &-final {
        max-width: 477px;
    }

    &-delivery {
        &__type-list {
            margin-bottom: 60px;
        }
    }

    &-block {

        &__title {
            @include md-block {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 23px;
            }
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #000;
            margin-bottom: 14px;
        }

        &__row {
            @include md-block {
                margin-bottom: 12px;
            }
            margin-top: 0;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__edit {
            @include md-block {
                margin-left: 36px;
            }
            margin-left: 12px;
        }

        &__options {
            @include md-block {
                flex-direction: row;
                margin-top: 32px;
            }
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            margin-bottom: 16px;
            &-radio {
                & + & {
                    @include md-block {
                        margin-left: 40px;
                        margin-top: 0;
                    }
                    margin-top: 12px;
                }
            }
        }

        &__list {
            list-style: none;
            &-wrap {
                margin-top: 32px;
                margin-bottom: 16px;
            }

            &-item {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #373737;
                & + & {
                    margin-top: 10px;
                }
            }
        }

        & + & {
            @include md-block {
                margin-top: 40px;
            }
            margin-top: 20px;
        }
    }

    &__error {
        @include error-message();
        margin-bottom: 5px;
    }
}
