-
    const getAchieveImg = (img) => `img/achieves/item-${img}.png`
    const getAchieveItem = (img, title, desc) => (
        {img: getAchieveImg(img), title, desc}
    )
    const achieves = [
        getAchieveItem(
            1,
            'Орден Российской Академии Естественных Наук «За пользу Отечеству» им. В.Н. Татищева',
            ['Право на получение этого ордена имеют организации и предприятия, которой своей деятельностью приносят значительную пользу обществу и государству. Вклад Барнаульской водяной компании заключается в том, что компания на протяжении многих лет своего существования выпускает продукцию полезную для здоровья граждан, а также ведет активную научно-исследовательскую деятельность, пропагандирует важность бережного отношения к воде, водоисточникам и природе в целом, оказывает поддержку и участвует в социальных и культурно-массовых мероприятиях города.']
        ),
        getAchieveItem(
            2,
            'Почетный знак РАЕН «За заслуги и развитие науки и экономики России»',
            ['Вклад Барнаульской водяной компании в развитие отечественной науки заключается во множественных исследованиях влияния воды «Легенда Жизни» на улучшение здоровья населения Алтайского края. Исследование влияния употребления питьевой воды «Легенда Жизни» с добавлением с йода показало ее эффективность в профилактике йоддефицитных состояний в организационных коллективах города. Вода «Легенда Жизни» и с добавлением йода, фтора и селена признана эффективной мерой профилактики йододефицита, кариеса и заболеваний иммунной системы. Продукция БВК отмечена множеством высоких наград и побед в конкурсах качества.']
        ),
        getAchieveItem(
            3,
            'Золотая медаль «Национальное достояние»',
            ['В 2005 году ООО «Барнаульская водяная компания» за высокое качество производимой продукции и вклад в развитие отрасли получила золотую медаль и признана «Национальным достоянием» на Международном Форуме «Мир чистой воды – 2005».', 'Форум «Мир чистой воды» проводится под патронажем Правительства г. Москвы, при поддержке Совета Федерации, Государственной Думы Российской Федерации, Минэкономразвития и Минсельхоза России, Федерального Агентства водных ресурсов, Правительства Московской области. Форум является главной отраслевой выставочной площадкой и местом встречи лучших производителей оборудования для розлива, напитков, минеральных и питьевых вод из всех регионов России и стран СНГ.']
        ),
        getAchieveItem(
            4,
            'Почетный знак «За достижение в области качества»',
            ['В 2014 году ООО «Барнаульская Водяная Компания» за высокое качество выпускаемой продукции победила в Федеральном конкурсе программы «100 лучших товаров России. Директор компании, Сергей Федорович Бобин, награжден почетным знаком «За достижения в области качества» за особые заслуги в улучшении качества и безопасности выпускаемой продукции. Продукция БВК отмечена множеством высоких наград и побед в конкурсах качества.']
        ),
    ]