.lk {

    & .container {
        @include container-padding;
    }

    &-additional {
        margin-top: 90px;
    }

    &-header {
        &__top {
            @include md-block {
                margin-bottom: 32px;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
        }

        &__meta {
            @include md-block {
                margin-bottom: 48px;
            }
            margin-bottom: 20px;
        }

        & .button {
            @include to($break_md) {
                padding: 12px 16px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &-repeat {
        @include lg-block {
            display: none;
        }
        text-align: center;
        margin: 20px auto;
    }

    &-meta {
        @include md-block {
            padding: 28px 48px 32px;
        }
        box-sizing: border-box;
        padding: 14px 17px 24px;
        background: #fff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

        &__head {
            @include md-block {
                margin-bottom: 19px;
            }
            margin-bottom: 16px;
            display: flex;
            align-items: center;
        }

        &__hint {
            margin-left: 8px;
        }

        &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #859aa5;
        }

        &__list {
            @include sm-block {
                flex-direction: row;
                align-items: center;
            }
            display: flex;
            flex-direction: column;
        }

        &__item {
            @include sm-block {
                margin-right: 60px;
                margin-bottom: 0;
            }
            margin-bottom: 12px;
            display: flex;
            &:last-child {
                margin-bottom: 0;
            }

            &-icon {
                @include md-block {
                    @include wh(48px);
                }
                @include wh(32px);
                margin-right: 4px;
                cursor: default;
            }

            &-data {
                @include sm-block {
                    flex-direction: column;
                    align-items: flex-start;
                }
                display: flex;
                align-items: center;
            }

            &-value {
                @include sm-block {
                    font-size: 28px;
                    line-height: 35px;
                }
                font-weight: $bold;
                font-size: 20px;
                line-height: 32px;
                color: #000;
                margin-bottom: 4px;
            }

            &-title {
                @include sm-block {
                    font-size: 16px;
                    line-height: 25px;
                    margin-left: 0;
                }
                font-size: 15px;
                line-height: 22px;
                color: #555555;
                margin-left: 4px;
            }
        }
    }

    &-nav {
        @include lg-block {
            margin-bottom: 32px;
            padding: 0 0 9px;
            border-top: 0;
            margin-left: 0;
            margin-right: 0;
        }
        display: flex;
        border-top: 1px solid rgba(34, 155, 215, 0.5);
        border-bottom: 1px solid rgba(34, 155, 215, 0.5);
        margin-bottom: 27px;
        padding: 8px 16px;
        margin-left: -16px;
        margin-right: -16px;

        &__list {
            @include lg-block {
                width: auto;
            }
        }

        &__item {
            width: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #424f56;
            margin-right: 38px;
            text-decoration: none;
            padding: 0 3px;

            &.active {
                font-weight: $bold;
                font-size: 16px;
                line-height: 32px;
                color: #004f91;
                padding: 0;
            }

            &:not(.active):hover {
                color: rgba(0, 79, 145, 0.6);
            }
        }

        &__repeat {
            @include lg-block {
                display: inline-flex;
                align-items: center;
            }
            display: none;
            margin-left: auto;
        }
    }

    &-orders {
        &__pagination {
            @include lg-block {
                margin-top: 52px;
            }
            margin-top: 32px;

            & .pagination {
                @include lg-block {
                    justify-content: flex-start;
                }
                justify-content: center;
            }
        }

        &-item {
            @include lg-block {
                margin-bottom: 40px;
            }
            margin-bottom: 32px;

            &:hover & {

                &__body {
                    box-shadow: 0 15px 72px rgba(0, 0, 0, 0.15);
                }
            }

            &__head {
                @include lg-block {
                    flex-direction: row;
                    align-items: center;
                    padding: 0 32px 12px;
                }
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0 8px 10px;
            }

            &__data {
                @include lg-block {
                    margin-right: 42px;
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 18px;
                }

                font-size: 13px;
                line-height: 16px;
                color: #767676;
                margin-bottom: 8px;


                &--number {
                    @include lg-block {
                        font-size: 14px;
                        line-height: 18px;
                    }
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: $bold;
                    color: #000;
                }
            }

            &__status {
                @include lg-block {
                    position: relative;
                    font-size: 14px;
                    line-height: 18px;
                    padding-left: 5px;
                    margin-left: auto;
                }
                position: absolute;
                top: 0;
                right: 0;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #004f91;

                &--success {
                    color: #30ab3c;
                }
            }

            &__body {
                @include transitionEaseOutQuint(box-shadow);
                @include lg-block {
                    flex-direction: row;
                    padding: 25px 32px;
                }
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                padding: 16px 12px;
                background: #fff;
                box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
            }

            &__list {
                @include lg-block {
                    max-width: 654px;
                }
                width: 100%;
            }

            &__row {
                margin-bottom: 12px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__title {
                @include lg-block {
                    max-width: 490px;
                }
                width: 100%;
            }

            &__link {
                @include sm-block {
                    font-size: 16px;
                    line-height: 21px;
                }
                font-size: 15px;
                line-height: 20px;
                text-decoration: none;
                color: #373737;
            }

            &__count {
                @include sm-block {
                    font-size: 16px;
                    line-height: 21px;
                    min-width: 70px;
                }
                box-sizing: border-box;
                min-width: 60px;
                font-size: 15px;
                line-height: 20px;
                color: #666666;
                padding-left: 5px;
                text-align: right;
            }

            &__price {
                @include sm-block {
                    min-width: 150px;
                    font-size: 16px;
                    line-height: 21px;
                }
                box-sizing: border-box;
                min-width: 120px;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                color: #000;
                padding-left: 5px;
                text-align: right;

                &-old {
                    @include sm-block {
                        font-size: 16px;
                        line-height: 21px;
                    }
                    display: inline-block;
                    position: relative;
                    font-family: $ff-Manrope;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #96a5ae;
                    margin-right: 5px;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        margin: auto;
                        background: #ef5026;
                    }
                }
            }

            &__actions {
                @include lg-block {
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-start;
                    width: #{calc(100% - 654px)};
                    border: none;
                    text-align: right;
                    padding-top: 0;
                    margin-top: 0;
                }
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-top: 16px;
                margin-top: 20px;
                border-top: 1px solid rgba(34, 155, 215, 0.15);
            }

            &__total {
                @include lg-block {
                    margin-bottom: 16px;
                    margin-left: 0;
                }

                @include sm-block {
                    font-size: 20px;
                    line-height: 26px;
                }
                font-weight: $bold;
                font-size: 18px;
                line-height: 28px;
                color: #000;
                margin-left: 12px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-personal-data {
        max-width: 477px;

        &__item {
            @include sm-block {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 20px;
            }
            font-size: 14px;
            line-height: 18px;
            color: #373737;
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__edit {
            @include md-block {
                margin-top: 32px;
            }
            margin-top: 24px;
        }

        &__cancel {
            margin-left: 20px;
        }

        &__button {
            display: flex;
            align-items: center;
        }
    }

    &-center-message {
        max-width: 466px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #004f91;
        margin: 30px auto;
        & a {
            text-decoration: underline;
        }
    }

    &-address {
        &-item {
            width: 100%;

            &__head {
                @include md-block {
                    padding: 0 32px 14px;
                }
                padding: 0 8px 12px;
            }

            &__type {
                display: flex;
                align-items: center;
            }

            &__type-icon {
                @include wh(28px);
                margin-right: 12px;
                cursor: default;
            }

            &__type-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #000;
            }

            &__body {
                @include md-block {
                    flex-direction: row;
                    align-items: center;
                    padding: 24px 32px;
                }
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                padding: 16px;
                background: #fff;
                box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
            }

            &__data, &__actions {
                @include md-block {
                    width: 50%;
                }
            }

            &__actions {
                @include md-block {
                    text-align: right;
                    margin-top: 0;
                }
                margin-top: 12px;
            }

            &__city, &__value {
                font-size: 16px;
                line-height: 21px;
                color: #373737;
            }

            &__city {
                margin-bottom: 12px;
            }

            &__phones {
                margin-top: 12px;
                font-size: 14px;
                line-height: 20px;
                color: #004f91;
            }

            & + & {
                margin-top: 40px;
            }
        }

        &-add {
            margin-top: 30px;
        }
    }

    &-section {
        @include lg-block {
            flex-direction: row;
            justify-content: space-between;
        }
        display: flex;
        flex-direction: column;

        &__half {
            @include lg-block {
                width: #{calc(50% - 15px)};
            }
            width: 100%;
            &:last-child {
                @include lg-block {
                    margin-top: 0;
                }
                margin-top: 32px;
            }
        }

        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            color: #1b262c;
            margin-bottom: 24px;
        }

        &-nav {
            @include lg-block {
                display: flex;
            }
            margin-bottom: 50px;

            &--mobile .checkout-nav__item:not(.checkout-nav__item--active) {
                @include md-block {
                    display: none;
                }
            }

            &-wrap {
                @include to($break_lg) {
                    margin-bottom: 2px;
                }
            }
        }

        &-body {
            & .checkout-nav__item {
                width: 100%;
            }
        }
    }

    &-write-off, &-delivery, &-replenish {
        max-width: 477px;

        &__button {
            @include md-block {
                margin-top: 36px;
            }
            margin-top: 24px;
        }
    }

    &-stucture {
        @include xl-block {
            padding: 55px 50px 35px;
        }
        @include lg-block {
            max-width: 580px;
        }
        @include md-block {
            padding: 32px;
        }
        box-sizing: border-box;
        padding: 24px 12px 20px;
        background: #fff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        margin-left: auto;

        &__list {
            .cart-item {
                width: 100%;
                margin: 0;
            }
        }

        &__total {
            @include md-block {
                margin-bottom: 40px;
            }
            margin-bottom: 24px;

            &-data {
                margin-right: 12px;
                margin-bottom: 12px;
            }

            &-head {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }

            &-title {
                font-size: 16px;
                line-height: 25px;
                color: #343e44;
            }

            &-value {
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #1b262c;
            }
        }

        &__agree {
            margin-top: 20px;
        }
    }

    & .hide-order {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }
}
