.lk {
    &-additional {
        margin-top: 90px;
    }

    &-header {
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
        }

        &__meta {
            margin-bottom: 48px;
        }
    }

    &-meta {
        box-sizing: border-box;
        padding: 28px 48px 32px;
        background: #fff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

        &__head {
            margin-bottom: 19px;
            display: flex;
            align-items: center;
        }

        &__hint {
            margin-left: 8px;
        }

        &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #859aa5;
        }

        &__list {
            display: flex;
            align-items: center;
        }

        &__item {
            margin-right: 60px;
            display: flex;

            &-icon {
                @include wh(48px);
                margin-right: 4px;
                cursor: default;
            }

            &-value {
                font-weight: $bold;
                font-size: 28px;
                line-height: 35px;
                color: #000000;
                margin-bottom: 4px;
            }

            &-title {
                font-size: 16px;
                line-height: 25px;
                color: #555555;
            }
        }
    }

    &-nav {
        display: flex;
        padding-bottom: 9px;
        border-bottom: 1px solid rgba(34, 155, 215, 0.5);
        margin-bottom: 32px;

        &__item {
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #424f56;
            margin-right: 38px;
            text-decoration: none;

            &.active {
                font-weight: $bold;
                font-size: 16px;
                line-height: 32px;
                color: #004f91;
            }
        }
    }

    &-orders {
        &__pagination {
            margin-top: 52px;
        }

        &-item {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }

            &__head {
                display: flex;
                align-items: center;
                padding: 0 32px 12px;
            }

            &__data {
                font-size: 14px;
                line-height: 18px;
                color: #767676;
                margin-right: 42px;

                &--number {
                    font-weight: $bold;
                    color: #000000;
                }
            }

            &__status {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                padding-left: 5px;
                margin-left: auto;
                color: #004f91;

                &--success {
                    color: #30ab3c;
                }
            }

            &__body {
                box-sizing: border-box;
                display: flex;
                padding: 25px 32px;
                background: #fff;
                box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
            }

            &__list {
                width: 100%;
                max-width: 654px;
            }

            &__row {
                margin-bottom: 12px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__title {
                width: 100%;
                max-width: 490px;
            }

            &__link {
                font-size: 16px;
                line-height: 21px;
                text-decoration: none;
                color: #373737;
            }

            &__count {
                box-sizing: border-box;
                min-width: 70px;
                font-size: 16px;
                line-height: 21px;
                color: #666666;
                padding-left: 5px;
                text-align: right;
            }

            &__price {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: #000;
                min-width: 90px;
                padding-left: 5px;
                text-align: right;
            }

            &__actions {
                text-align: right;
                width: #{calc(100% - 654px)};
            }

            &__total {
                font-weight: $bold;
                font-size: 20px;
                line-height: 26px;
                color: #000;
                margin-bottom: 16px;
            }
        }
    }

    &-personal-data {
        max-width: 477px;

        &__item {
            font-size: 16px;
            line-height: 20px;
            color: #373737;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__edit {
            margin-top: 32px;
        }

        &__cancel {
            margin-left: 20px;
        }

        &__button {
            display: flex;
            align-items: center;
        }
    }

    &-center-message {
        max-width: 466px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #004f91;
        margin: 30px auto;
        & a {
            text-decoration: underline;
        }
    }

    &-address {
        &-item {
            width: 100%;
            & + & {
                margin-top: 40px;
            }

            &__head {
                padding: 0 32px 14px;
            }

            &__type {
                display: flex;
                align-items: center;
            }

            &__type-icon {
                @include wh(28px);
                margin-right: 12px;
                cursor: default;
            }

            &__type-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #000000;
            }

            &__body {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                padding: 24px 32px;
                background: #fff;
                box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
            }

            &__data, &__actions {
                width: 50%;
            }

            &__actions {
                text-align: right;
            }

            &__city, &__value {
                font-size: 16px;
                line-height: 21px;
                color: #373737;
            }

            &__city {
                margin-bottom: 12px;
            }
        }

        &-add {
            margin-top: 30px;
        }
    }

    &-section {
        display: flex;

        &-nav {
            margin-bottom: 50px;
        }

        &__half {
            width: 50%;
        }
    }

    &-delivery, &-replenish {
        max-width: 477px;

        &__button {
            margin-top: 36px;
        }
    }
}
