.location {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 110px;

    &__icon {
        margin-right: 12px;
    }

    &__link {
        font-size: 16px;
        line-height: 21px;
        color: #1b262c;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &__name {
        box-sizing: border-box;
        border-bottom: 1px dashed #c4e5f5;
    }

    &__drop {
        @include transitionEaseOutQuint((opacity,visibility));
        position: absolute;
        z-index: -1;
        top: 28px;
        left: 0;
        min-width: 164px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 10px 24px rgba(69, 69, 69, 0.16);
        opacity: 0;
        visibility: hidden;
    }

    &__list {
        list-style: none;
    }

    &__title {
        font-size: 14px;
        line-height: 18px;
        color: #859aa5;
        padding: 9px 23px 5px;
    }

    &__item {
        font-size: 16px;
        line-height: 21px;
        color: #1b262c;
        padding: 13px 23px;
        cursor: pointer;

        &:hover {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #007bc2;
            background: #eef5f9;
        }
    }

    &.active &__drop {
        opacity: 1;
        visibility: visible;
        z-index: 100;
    }
}
