.contacts {

    &__phone {
        @include md-block {
            margin-bottom: 40px;
        }
        margin-bottom: 24px;

        & .phone-row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        & .phone-title {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }

    &__nav {
        @include md-block {
            margin-bottom: 44px;
            margin-left: 0;
            margin-right: 0;
        }
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 24px;

        & .active {
            font-weight: 500;
        }


        & .swiper-wrapper {
            @include md-block {
                padding: 0;
            }
            padding-right: 48px;
        }
        & .swiper-slide {
            &:last-child {
                @include md-block {
                    margin-right: 0;
                }
                margin-right: 48px;
            }
        }
    }

    & .container {
        @include container-padding;
    }


    &-map {
        &__inner {
            @include row-flex;
            position: relative;
            min-height: 587px;
        }

        &__address {
            @include col();
            @include size-lg(4);
            @include size(12);
            @include lg-block {
                margin-bottom: 0;
            }
            z-index: 1;
            max-height: 587px;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 21px;
            margin-bottom: 20px;
        }

        &__box {
            @include col();
            @include size-lg(8);
            @include size(12);
            min-height: 500px;
        }
    }
}