.contacts {

    &__phone {
        margin-bottom: 40px;

        & .phone-row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        & .phone-title {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 44px;

        &-item {
            padding: 12px 24px;
            margin-right: 20px;
            font-size: 16px;
            line-height: 21px;

            &.active {
                border-radius: 57px;
                background: #f1f6fc;
            }
        }

        &-link {
            text-decoration: none;
            border-bottom: 1px dashed #343e44;
            color: #343e44;
        }

        &-item.active &-link {
            border-bottom: transparent;
            color: #004f91;
            font-weight: 500;
        }
    }


    &-map {
        &__inner {
            @include row-flex;
            position: relative;
            height: 587px;
        }

        &__address {
            @include col();
            @include size(4);
            z-index: 1;
            max-height: 587px;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 21px;
        }

        &__box {
            @include col();
            @include size(8);
        }
    }
}