include ../address/address
include ../map/map
include ../phone/phone
include ../menu-nav/menu-nav
//- Блок с адресами и картой

mixin contacts
    include data
    section.contacts
        +container
            .__inner
                .__phone
                    +phone-header
                +menu-nav(contactsNav).__nav
                .__map
                    +contacts-map




mixin contacts-map
    section.contacts-map
        .contacts-map__inner
            article.contacts-map__address.scroll-custom-map
                +address
            article.contacts-map__box
                +map('contacts')

