-
    const getNavItem = (name, active) => ({name, active})
    const contactsNav = [
        getNavItem('Производство'),
        getNavItem('Точки обмена'),
        getNavItem('Легенда в розницу', true),
        getNavItem('Филиалы'),
        getNavItem('Дилеры')
    ]