extends layouts/pages
include helpers/mixins

block variables
	- const title = "Легенда"

block content
	.container
		h1=title
		ul
			li
				a(href='/catalog.html') Каталог
			li
				a(href='/order') Корзина
			li
				a(href='/lk') Личный кабинет
