extends layouts/pages
include helpers/mixins

block variables
	- const title = "Легенда"

block content
	.container
		h1=title
		ul
			li
				a(href='/main.html') Главная
			li
				a(href='/catalog.html') Каталог
			li
				a(href='/catalog-category.html') Каталог - категория
			li
				a(href='/catalog-detail.html') Каталог - детальная карточка
			li
				a(href='/order') Корзина
			li
				a(href='/lk') Личный кабинет
			li
				a(href='/auth') Войти на сайт
			li
				a(href='/ui-kit.html') UI-Kit
			li
				a(href='/contacts.html') Контакты
			li
				a(href='/stocks.html') Акции
			li
				a(href='/blog.html') Блог
