extends layouts/pages
include helpers/mixins

block variables
	- const title = "Легенда"

block content
	.container
		h1=title
		ul
			li
				a(href='/catalog.html') Каталог
			li
				a(href='/catalog-category.html') Каталог - категория
			li
				a(href='/catalog-detail.html') Каталог - детальная карточка
			li
				a(href='/order') Корзина
			li
				a(href='/lk') Личный кабинет
			li
				a(href='/ui-kit.html') UI-Kit
