.hint {
    position: relative;
    &-icon {
        @include wh(27px);
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #5bc5f2;
        border-radius: 50%;
        cursor: help;
    }

    &-content {
        @include transitionEaseOutQuint((opacity, visibility), .3s);
        box-sizing: border-box;
        position: absolute;
        z-index: -1;
        right: auto;
        left: 35px;
        min-width: 196px;
        border: 2px solid #5bc5f2;
        padding: 8px 12px;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        border-radius: 6px;
        font-size: 14px;
        line-height: 18px;
        color: #343e44;

        &:before {
            @include wh(8px);
            @include rotate(-45deg);
            content: "";
            position: absolute;
            z-index: -3;
            top: 50%;
            margin-top: -4px;
            left: -4px;
            background: #5bc5f2;
        }

        &:after {
            @include wh(100%);
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            background: #fff;
            border-radius: 10px;
        }
    }

    &-icon:hover &-content {
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }
}