.hint {
    position: relative;
    cursor: default;
    &-icon {
        @include xl-block {
            @include wh(27px);
            font-size: 16px;
            line-height: 21px;
        }
        @include wh(20px);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #5bc5f2;
        border-radius: 50%;
        cursor: help;
    }

    &-content {
        @include xl-block {
            left: 35px;
        }
        @include sm-block {
            right: auto;
            left: 30px;
        }
        @include transitionEaseOutQuint((opacity, visibility), .3s);
        box-sizing: border-box;
        position: absolute;
        z-index: -1;
        right: 30px;
        left: auto;
        min-width: 196px;
        border: 2px solid #5bc5f2;
        padding: 8px 12px;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        border-radius: 6px;
        font-size: 14px;
        line-height: 18px;
        color: #343e44;
        cursor: default;

        & a {
            font-size: 14px;
            line-height: 18px;
            color: $link-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:before {
            @include wh(8px);
            @include rotate(-45deg);
            @include sm-block {
                left: -4px;
            }
            content: "";
            position: absolute;
            z-index: -3;
            top: 50%;
            margin-top: -4px;
            right: -4px;
            background: #5bc5f2;
        }

        &:after {
            @include wh(100%);
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            background: #fff;
            border-radius: 10px;
        }
    }

    &:hover {
        &:before {
            content: "";
            position: absolute;
            right: -10px;
            width: 15px;
            height: 100%;
        }
    }

    &:hover &-content {
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }

    &--mobile-bottom & {
        @include to($break_sm) {
            &-content {
                top: 30px;
                right: 0;
                left: 0;
                transform: translateX(-50%);

                &:before {
                    top: -4px;
                    right: auto;
                    left: 52%;
                    margin-top: 0;
                    margin-right: 0;
                }
            }
        }
    }
}