.cart-item {
    @include size(12);
    @include col;
    border-bottom: 1px solid rgba(34, 155, 215, 0.15);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 20px 14px;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__img-link {
        @include wh(80px);
        margin-right: 36px;
    }

    &__data {
        align-self: flex-start;
        width: 100%;
        max-width: 500px;
        margin-right: auto;
    }

    &__title {
        max-width: 330px;
        max-height: 42px;
        overflow: hidden;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #343e44;
        text-decoration: none;
    }

    &__desc {
        font-size: 16px;
        line-height: 22px;
        color: #acacac;
        text-decoration: none;
        margin-top: 8px;
        max-height: 42px;
        overflow: hidden;
    }

    &__price {
        display: flex;
        align-items: center;

        &-value {
            font-size: 20px;
            line-height: 22px;
            color: #1b262c;
        }

        &-type {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #788288;
            margin-left: 4px;
        }
    }

    &__order {
        margin-left: auto;
        margin-right: auto;
    }

    &__total {
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
        margin-right: 35px;
        min-width: 100px;
        text-align: right;
        margin-left: 20px;
    }

    &__result {
        align-self: flex-start;
        min-width: 100px;
        text-align: right;
        margin-left: 20px;

        &-quantity {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #788288;
            margin-bottom: 4px;
        }

        &-total {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
    }
}