.cart-item {
    @include md-block {
        @include size(12);
        @include col;
        margin-bottom: 0;
    }
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(34, 155, 215, 0.15);

    &__inner {
        @include md-block {
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 20px 14px;
        }
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0 16px 16px;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        font-size: 10px;
        line-height: 1;
    }

    &__img-link {
        @include lg-block {
            margin-right: 36px;
        }
        @include md-block {
            max-width: 80px;
            height: 80px;
            margin-bottom: 0;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 48px;
        height: 48px;
        margin-right: 20px;
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 21px;
        color: #343e44;
        text-decoration: none;
    }

    &__data {
        @include lg-block {
            width: 100%;
            max-width: 500px;
        }
        @include md-block {
            width: #{calc(100% - 100px)};
            margin-bottom: 0;
        }
        box-sizing: border-box;
        align-self: flex-start;
        width: #{calc(100% - 68px)};
        margin-right: auto;
        padding-right: 30px;
        margin-bottom: 6px;
    }

    &__title {
        @include lg-block {
            font-size: 16px;
            line-height: 22px;
        }
        max-width: 330px;
        max-height: 42px;
        overflow: hidden;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #343e44;
        text-decoration: none;
    }

    &__desc {
        @include lg-block {
            font-size: 16px;
            line-height: 22px;
            margin-top: 8px;
        }
        font-size: 14px;
        line-height: 18px;
        color: #acacac;
        text-decoration: none;
        margin-top: 4px;
        max-height: 42px;
        overflow: hidden;
    }

    &__price {
        @include lg-block {
            min-width: 180px;
            margin-right: 40px;
        }
        @include md-block {
            order: 0;
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 1;
        min-width: 140px;
        margin-right: 20px;

        &--desktop {
            @include md-block {
                display: flex;
            }
            display: none;
        }

        &-value {
            @include lg-block {
                font-size: 20px;
                line-height: 22px;
            }
            font-size: 14px;
            line-height: 16px;
            color: #1b262c;
        }

        &-type {
            @include lg-block {
                font-size: 16px;
                line-height: 22px;
            }
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #788288;
            margin-left: 4px;
        }
    }

    &__order {
        @include md-block {
            margin-left: auto;
        }
        margin-right: auto;
    }

    &__total {
        @include lg-block {
            align-items: flex-start;
            min-width: 120px;
            font-size: 20px;
            line-height: 22px;
            margin-left: 20px;
            margin-right: 35px;
        }
        @include md-block {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            order: 0;
            margin-left: 10px;
        }
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        order: 1;
        min-width: 105px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #000;
        margin-right: 15px;
        text-align: right;
        margin-left: auto;
        white-space: nowrap;

        &-price {
            @include md-block {
                display: none;
            }
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-top: 4px;
        }
    }

    &__result {
        align-self: flex-start;
        min-width: 100px;
        text-align: right;
        margin-left: 20px;

        &-quantity {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #788288;
            margin-bottom: 4px;
        }

        &-total {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
    }

    &__delete {
        @include md-block {
            position: relative;
            top: auto;
            right: auto;
        }
        position: absolute;
        top: 0;
        right: 16px;
    }

    &--lk, &--in-order {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    &--in-order & {

        @include to($break_md) {
            &__img-link {
                margin-right: 12px;
                max-width: 40px;
                height: 40px;
            }

            &__data {
                width: #{calc(100% - 52px)};
                padding-right: 0;
                max-width: 200px;
            }
        }

        @include to($break_sm) {
            &__result {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-left: 0;

                &-quantity {
                    margin-bottom: 0;
                }
            }
        }
        &__inner {
            padding: 12px 0;
        }
    }

    &--in-cart-mini {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        margin: 0;
        border-bottom: none;

        &:after {
            content: "";
            display: block;
            position: relative;
            width: #{calc(100% - 40px)};
            height: 1px;
            background: rgba(34, 155, 215, 0.15);
            margin: auto;
        }
    }

    &--in-cart-mini & {

        &__inner {
            align-items: flex-start;
            padding: 16px 20px 18px;
        }

        &__data {
            width: #{calc(100% - 388px)};
            margin-right: 10px;
            padding-right: 15px;
        }

        &__img-link {
            @include wh(64px);
            margin-right: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        &__price {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            margin-right: 0;
            min-width: auto;
        }

        &__price-value, &__price-type {
            font-size: 14px;
            line-height: 18px;
            color: #989898;
        }

        &__total {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #1b262c;
            margin-left: 10px;
            min-width: 60px;
            padding-top: 10px;
        }

        &__delete {
            padding-top: 10px;
        }
    }

    &--lk & {
        &__inner {
            padding: 12px 0;
        }

        &__img-link {

            @include md-block {
                max-width: 72px;
                height: 72px;
            }
            width: 100%;
            max-width: 48px;
            height: 48px;
            margin-right: 20px;
        }

        &__data {
            @include lg-block {
                max-width: 165px;
            }
            max-width: 350px;
            padding-right: 30px;
        }

        &__delete {
            @include md-block {
                margin-left: 10px;
                top: 0;
                right: 16px;
            }
            top: 16px;
            right: 0;
        }

        &__order {
            display: flex;
            align-items: center;
        }

        &__limit {
            display: flex;
            align-items: center;

            &-text {
                font-size: 15px;
                line-height: 20px;
                color: #a7a7a7;
                margin-right: 5px;
            }

            &-icon {
                @include wh(48px);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }

            &-value {
                @include wh(30px);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 14px auto auto;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                color: #343e44;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }

    &.skeleton & {
        &__inner {
            @include skeleton-loader;
        }

        &__img-link {
            @include md-block {
                max-width: 80px;
                height: 80px;
            }
            width: 100%;
            max-width: 48px;
            height: 48px;
            background: $skeleton-color;
            border-radius: 50%;
        }

        &__data {

        }

        &__title {
            width: 100%;
            height: 21px;
            background: $skeleton-color;
            border-radius: 5px;
        }

        &__desc {
            width: 100%;
            max-width: 100px;
            height: 16px;
            background: $skeleton-color;
            border-radius: 5px;
        }

        &__price {
            order: 0;
            width: 100%;
            max-width: 140px;
            height: 40px;
            background: $skeleton-color;
            border-radius: 5px;
        }

        &__order {
            display: none;
        }

        &__total {
            @include md-block {
                max-width: 140px;
            }
            order: 0;
            width: 100%;
            max-width: 80px;
            height: 18px;
            background: $skeleton-color;
            border-radius: 5px;
        }

        &__result {
            display: none;
        }

        &__delete {
            width: 100%;
            max-width: 20px;
            height: 20px;
            background: $skeleton-color;
            border-radius: 5px;
        }
    }
}