.product-detail {
    @include md-block {
        margin-top: 54px;
        padding-bottom: 80px;
        margin-bottom: 80px;
    }
    margin-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(34, 155, 215, 0.15);

    &__title {
        margin-bottom: 24px;
    }

    &__inner {
        @include row-flex();
        @include md-block {
            position: initial;
        }
        position: relative;
    }

    &__body {
        position: relative;
        min-height: 615px;
    }

    &__head {
        @include col;
        @include shift-xl-left(5);
        @include size-xl(7);
        @include size(12);
    }

    &__slider {
        @include col;
        @include size-xl(5);
        @include size(12);
        @include xl-block {
            position: absolute;
            top: 0;
            left: 0;
        }
        @include md-block {
            margin-bottom: 0;
        }
        margin-bottom: 20px;
        position: relative;
    }

    &__content {
        @include col;
        @include shift-xl-left(5);
        @include size-xl(7);
        @include size(12);
    }

    &__composition {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    &__price {
        @include md-block {
            font-weight: 500;
            font-size: 40px;
            line-height: 44px;
            color: #343e44;
            margin-bottom: 24px;
            text-align: left;
            justify-content: flex-start;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: $bold;
        font-size: 25px;
        line-height: 30px;
        color: #343e44;
        margin-bottom: 20px;
        text-align: center;

        &-sale {
            color: #ef5026;
        }

        &-old {
            @include sm-block {
                font-size: 32px;
                line-height: 40px;
                margin-right: 10px;
            }
            display: flex;
            align-items: center;
            position: relative;
            font-family: $ff-Manrope;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #96a5ae;
            margin-right: 8px;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                margin: auto;
                background: #ef5026;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__quantity {
        @include md-block {
            margin-right: 20px;
        }
        margin-right: 12px;
    }

    &__button {
        @include md-block {
            margin-right: 24px;
        }
    }

    &__favorite {
        @include md-block {
            position: relative;
            top: auto;
            right: auto;
        }
        display: flex;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 16px;
        &-icon {
            @include wh(28px);
        }
    }

    &__tabs {
        margin-top: 24px;
        margin-bottom: 40px;
        &-nav {
            @include md-block {
                display: flex;
            }
            display: none;
            align-items: center;
            margin-bottom: 26px;

            &-item {
                padding: 12px 24px;
                margin-right: 12px;
                cursor: pointer;
                font-size: 16px;
                line-height: 21px;
                color: #343e44;
                border-radius: 57px;

                &.active {
                    background: #f1f6fc;
                    font-size: 16px;
                    line-height: 21px;
                    color: #004f91;
                    & span {
                        border-bottom-color: #f1f6fc;
                    }
                }

                & span {
                    border-bottom: 1px dashed #343e44;
                }
            }
        }

        &-content {
            font-size: 16px;
            line-height: 25px;
            color: #373737;

            &-head {
                @include md-block {
                    display: none;
                    background: transparent;
                }
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px 16px 16px;

                .active & {
                    background: #f1f6fc;
                }
            }

            &-title {
                font-size: 16px;
                line-height: 21px;
                color: #004f91;

                .active & {
                    color: #343e44;
                }
            }

            &-icon {
                @include transitionEaseOutQuint(transform);
                .active & {
                    @include rotate();
                }
            }

            &-list {
                @include md-block {
                    display: block;
                    padding: 0;
                }
                box-sizing: border-box;
                display: none;
                padding: 20px 16px 32px;

                .active & {
                    display: block;
                }
                & ul {
                    list-style: none;
                }

                & li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-item {
                @include md-block {
                    border: none;
                    margin-left: 0;
                    margin-right: 0;
                }
                margin-left: -16px;
                margin-right: -16px;
                border-top: 1px solid #f1f6fc;
                box-sizing: border-box;

                &:last-child {
                    border-bottom: 1px solid #f1f6fc;
                }

                &.tabs-content {
                    @include md-block {
                        display: none;
                    }
                    &.active {
                        display: block;
                    }
                    display: block;
                }
            }
        }
    }

    &__share {
        margin-top: 28px;
    }

    & .container {
        @include container-padding;
    }
}