.product-detail {
    margin-top: 54px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(34, 155, 215, 0.15);

    &__title {
        margin-bottom: 24px;
    }

    &__inner {
        @include row-flex();
    }

    &__slider {
        @include col;
        @include size(5);
        position: relative;
    }

    &__content {
        @include col;
        @include size(7);
    }

    &__composition {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    &__price {
        font-weight: 500;
        font-size: 40px;
        line-height: 44px;
        color: #343e44;
        margin-bottom: 24px;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__quantity {
        margin-right: 20px;
    }

    &__button {
        margin-right: 24px;
    }

    &__favorite {
        &-icon {
            @include wh(28px);
        }
    }

    &__tabs {
        margin-top: 24px;
        margin-bottom: 40px;
        &-nav {
            display: flex;
            align-items: center;
            margin-bottom: 26px;

            &-item {
                padding: 12px 24px;
                margin-right: 12px;
                cursor: pointer;
                font-size: 16px;
                line-height: 21px;
                color: #343e44;
                border-radius: 57px;

                &.active {
                    background: #f1f6fc;
                    font-size: 16px;
                    line-height: 21px;
                    color: #004f91;
                    & span {
                        border-bottom-color: #f1f6fc;
                    }
                }

                & span {
                    border-bottom: 1px dashed #343e44;
                }
            }
        }

        &-content {
            font-size: 16px;
            line-height: 25px;
            color: #373737;

            &-list {
                max-width: 310px;
                & ul {
                    list-style: none;
                }

                & li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__share {
        margin-top: 28px;
    }
}