.infographic {

    & .container {
        @include container-padding;
    }

    &__list {
        @include row-flex;
        margin-bottom: -20px;
    }

    &__item {
        @include col;
        @include size-md(3);
        @include size(6);
        @include to($break_sm) {
            margin-left: auto;
            margin-right: auto;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        max-width: 280px;
    }

    &__img {
        @include md-block {
            @include wh(auto);
        }
        @include wh(72px);

        & svg {
            @include wh(100%);
        }
    }

    &__text {
        @include md-block {
            margin-top: 38px;
            font-size: 18px;
            line-height: 27px;
        }
        text-align: center;
        color: #1b262c;
        margin-top: 28px;
        font-size: 15px;
        line-height: 20px;
    }
}