.infographic {

    &__list {
        @include row-flex;
        & svg:not(.done-draw) * {
            fill: none;
            stroke: currentColor;
        }
        margin-bottom: -20px;
    }

    &__item {
        @include col;
        @include size-md(3);
        @include size(6);
        @include to($break_sm) {
            margin-left: auto;
            margin-right: auto;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        max-width: 280px;
        color: #007bc2;
    }

    &__img {
        @include md-block {
            @include wh(105px);
        }
        @include wh(72px);
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            width: auto;
            max-width: 100%;
        }
    }

    &__text {
        @include md-block {
            margin-top: 38px;
            font-size: 18px;
            line-height: 27px;
        }
        text-align: center;
        color: #1b262c;
        margin-top: 28px;
        font-size: 15px;
        line-height: 20px;
    }

    #polaroid {
        float: left;
        width: 400px;
        height: 320px;
        stroke: #f9f9f9;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }

    & .container {
        @include container-padding;
    }
}