.infographic {

    &__list {
        @include row-flex;
        margin-bottom: -20px;
    }

    &__item {
        @include col;
        @include size-md(3);
        @include size-sm(6);
        @include size(12);
        @include to($break_sm) {
            margin-left: auto;
            margin-right: auto;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        max-width: 280px;
    }

    &__text {
        margin-top: 38px;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #1b262c;
    }
}