extends ../../layouts/default


block variables
	- const title = "Личный кабинет";
	- isInnerPage = true
	- showTitle = false
	include ../../../views/data/lk

block content
	//- Vue component
	.js-vue-app-lk
	include ../../../blocks/components/product/product
	include ../../../blocks/components/product/data
	section.lk-additional.js-order-additional.hide
		+product-add-to-cart-section('Хиты продаж', productWater, false)
