.breadcrumbs {

    @include to($break_md) {
        &__item {
            display: none;

            &:nth-last-child(2) {
                display: inline-flex;
                &:after {
                    content: none;
                }
            }
        }
        &__item:nth-last-child(2) &__link {
            display: inline-flex;
            position: relative;
            &:before {
                @include wh(11px, 18px);
                content: "";
                position: relative;
                margin-right: 8px;
                background-image: url(icon-arrow-breadcrumbs());
                background-size: 9px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    list-style-type: none;

    &__link {
        @include outline-none();
        text-decoration: none;
    }

    &__item, &__item &__link {
        @include transitionEaseOutQuint(color);
        display: inline-block;
        align-items: flex-end;
        position: relative;
        font-size: 14px;
        line-height: 18px;
        color: #9db2c6;

        &:hover {
            color: #7a8899;

            &:after {
                color: #9db2c6;
            }
        }
    }

    &__item:not(:last-child):after {
        content: "/";
        display: inline-block;
        padding: 0 16px;
    }

    &__item:last-child span {
        color: #d8dfe6;
    }
}
