-
    let breadcrumbs = [
        {
            name: 'Главная страница',
            link: '/'
        },
        {
            name: 'Каталог',
            link: '#'
        },
        {
            name: h1,
            link: ''
        }
    ];