-
    const getProduct = (id, title, desc, price, img, composition,labels, isInCart, isInFavorite) => ({
        id,
        title,
        desc,
        price,
        img,
        labels,
        composition,
        isInCart,
        isInFavorite
    })
    const getProductImg = (num) => `/img/product/item-${num}.png`
    const getProductComposition = (name, type) => ({ name, type })
    const getProductBanner = (num, title) => ({ banner: `/img/product/banner-${num}.jpg`, title })

    const getProductIodine = (id) => getProduct(
        id,
        'Легенда жизни 19л',
        'С добавлением йода',
        29000,
        getProductImg(1),
        ['Йод']
    )

    const getProductAmber = (id) => getProduct(
        id,
        'Легенда жизни 19л',
        'С добавлением янтарной кислоты и селена',
        250,
        getProductImg(3),
        ['Янтарь', 'Селен'],
        [getProductComposition('Хит', 'hit')]
    )

    const getProductSimple = (id, isHit) => getProduct(
        id,
        'Легенда жизни 19л',
        'Природная вода без добавок',
        180,
        getProductImg(6),
        false,
        isHit ? [getProductComposition('Хит', 'hit')] : false
    )

    const products = [
        getProductIodine(1),
        getProduct(
            2,
            'Легенда жизни 19л',
            'Йод, фтор и селен',
            210,
            getProductImg(2),
            ['Йод', 'Фтор', 'Селен'],
            [getProductComposition('Новинка', 'new')],
            true
        ),
        getProduct(
            3,
            'Легенда жизни 19л',
            'С добавлением янтарной кислоты и селена',
            250,
            getProductImg(3),
            ['Янтарь', 'Селен'],
            [getProductComposition('Хит', 'hit')]
        ),
        getProductBanner(1, 'Хлеб с хрустящей корочкой из пекарни'),
        getProduct(
            4,
            '«Легенда жизни» Бизнес»',
            'С добавлением йода',
            210,
            getProductImg(4)
        ),
        getProduct(
            5,
            '«Легенда жизни» (уп. 6 шт по 1,5 л) ',
            '6 бутылок',
            210,
            getProductImg(5)
        ),
        getProductAmber(6),
        getProductSimple(7,true),
        getProductIodine(8),
        getProductBanner(2, 'Товары для поддержания чистоты в доме'),
        getProductAmber(9),
        getProductSimple(10),
        getProductIodine(11),
        getProduct(
            12,
            'Легенда жизни 19л',
            'Йод, фтор и селен',
            210,
            getProductImg(2),
            ['Йод', 'Фтор', 'Селен']
        ),
        getProductAmber(13),
        getProductSimple(14)
    ]

    const productWater = [
        getProduct(
            14,
            'Легенда жизни 19л',
            'Йод, фтор и селен',
            250,
            getProductImg(7),
            ['Йод', 'Фтор', 'Селен']
        ),
        getProduct(
            15,
            '«Легенда жизни» Спорт 0,7л',
            'Калий, кальций и магний',
            168,
            getProductImg(8),
            ['Калий', 'Кальций', 'Магний']
        ),
        getProduct(
            16,
            '«Легенда жизни» Детская 0,33л',
            'С добавлением йода',
            288,
            getProductImg(9),
            ['Йод']
        ),
    ]

    const productFood = [
        getProduct(
            17,
            'Мука «Алейка» пшеничная высший сорт',
            '3 кг',
            110,
            getProductImg(10)
        ),
        getProduct(
            18,
            'Морс облепиховый, 0,2л',
            'Сибирская ягода',
            95,
            getProductImg(11)
        ),
        getProduct(
            19,
            '«Легенда жизни» Детская 0,33л',
            'С добавлением йода',
            50,
            getProductImg(12)
        ),
    ]

    const productHome = [
        getProduct(
            20,
            'Средство Fairy д/мытья посуды Зеленое яблоко',
            '450 мл',
            85,
            getProductImg(13)
        ),
        getProduct(
            21,
            'Жидкое крем-мыло «Ушастый нянь» с экстрактом алоэ',
            '300 мл',
            95,
            getProductImg(14)
        ),
        getProduct(
            22,
            'Антисептик для рук, 100мл',
            '100 мл',
            160,
            getProductImg(15)
        ),
    ]

    const productEquipment = [
        getProduct(
            23,
            'Кулер для воды Aqua Work 105-TDR',
            'бело-черный',
            7000,
            getProductImg(16)
        ),
        getProduct(
            24,
            'Кулер для воды Aqua Work 0.7-L',
            'Напольный',
            12000,
            getProductImg(17)
        ),
        getProduct(
            25,
            'Ecotronic A1-TE',
            'Настольный кулер',
            5000,
            getProductImg(18)
        ),
    ]

    const productToOrder = [
        ...productFood,
        ...productEquipment
    ]

    const productRecommendation = [
        getProductIodine(8),
        getProduct(
            23,
            'Кулер для воды Aqua Work 105-TDR',
            'бело-черный',
            7000,
            getProductImg(16)
        ),
        getProduct(
            26,
            'Помпа механическая',
            'Компактная модель',
            700,
            getProductImg(19)
        ),
        getProduct(
            17,
            'Мука «Алейка» пшеничная высший сорт',
            '3 кг',
            110,
            getProductImg(10)
        ),
        getProductSimple(10),
        getProductAmber(9),
    ]

    const productInNews = [
        getProduct(
            4,
            '«Легенда жизни» Бизнес»',
            'С добавлением йода',
            210,
            getProductImg(4)
        ),
        getProduct(
            5,
            '«Легенда жизни» (уп. 6 шт по 1,5 л) ',
            '6 бутылок',
            210,
            getProductImg(5)
        ),
        getProductAmber(),
        getProductSimple(7, true),
    ]