.product {
    @include size-xl(3);
    @include size-lg(4);
    @include size-sm(6);
    @include sm-block {
        @include col();
        margin-bottom: 24px;
        height: 426px;
        border-radius: 12px;
    }
    @include u-size(6, $columns, 4px);
    @include transitionEaseOutQuint(box-shadow);
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    border: 1px solid rgba(34, 155, 215, 0.15);
    background: #fff;
    border-radius: 8px;
    margin-bottom: 4px;

    .section--add-to-cart & {
        @include md-block {
            @include col();
            margin-bottom: 45px;
        }
    }

    &__inner {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        padding: 24px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 17px;
        right: 20px;
        left: 24px;
        height: 0;
    }

    &__right {
        margin-left: auto;
    }

    &__label {
        @include sm-block {
            margin-bottom: 8px;
        }
        margin-bottom: 4px;
    }

    &__img {
        @include empty-image;
        max-width: 100%;
        min-height: 200px;
        max-height: 100%;
        overflow: hidden;
        font-size: 10px;
        line-height: 1;
        &:not([src]) {
            width: 100%;
        }
    }

    &__img-link {
        @include sm-block {
            height: 215px;
            margin-top: 0;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 12px;
        text-decoration: none;
        color: #343e44;
    }

    &__data {
        @include sm-block {
            margin-top: 24px;
        }
        margin-top: 18px;
    }

    &__title {
        @include sm-block {
            font-size: 18px;
            line-height: 25px;
            max-height: 75px;
        }
        display: -webkit-box;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #343e44;
        text-decoration: none;
        max-height: 54px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__desc {
        @include sm-block {
            font-size: 16px;
            line-height: 21px;
            margin-top: 8px;
            max-height: 42px;
        }
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        line-height: 18px;
        color: #acacac;
        margin-top: 4px;
        max-height: 40px;
        overflow: hidden;
    }

    &__price {
        @include sm-block {
            font-size: 22px;
            line-height: 25px;
        }
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #1b262c;
    }

    &__actions {
        @include sm-block {
            margin-top: auto;
            padding-top: 0;
        }
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__favorite {
        &-icon {
            @include transitionEaseOutQuint(transform);
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &--banner {
        border: none;
    }

    &--banner &__img-link {
        height: 100%;
        margin-top: 0;
    }

    body &--category {
        @include size-xl(4);
        @include size-lg(4);
        @include size-sm(7);
        @include md-block {
            max-width: 373px;
            height: 450px;
            border: 1px solid rgba(34, 155, 215, 0.15);
            margin-top: 45px;
        }
        @include sm-block {
            margin-right: 40px;
            margin-bottom: 35px;
        }
        width: 100%;
        height: auto;
        border: none;
        margin-bottom: 4px;
        margin-right: 10px;
        margin-left: 0;
        &:last-child {
            margin-right: 0;
        }
    }

    body &--category & {
        &__inner {
            @include md-block {
                padding: 26px 30px 34px 32px;
            }
            @include sm-block {
                padding: 0 36px 0 36px;
            }

            @include from(21.25rem) { // 340
                padding: 0 32px 0 32px;
            }
            padding: 0 22px 0 22px;
        }

        &__favorite {
            display: none;
        }

        &__top {
            @include md-block {
                top: 26px;
            }
            top: 0;
            right: 30px;
        }

        &__img-link {
            @include md-block {
                @include wh(220px, 304px);
                margin-top: -70px;
                margin-left: 10px;
            }
            @include wh(176px);
        }

        &__data {
            @include to($break_md) {
                margin-top: 30px;
            }
        }

        &__title {
            @include to($break_md) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__desc {
            @include to($break_md) {
                font-size: 15px;
                line-height: 20px;
            }
        }

        &__price {
            @include to($break_md) {
                font-size: 20px;
                line-height: 27px;
            }
        }

        &__actions {
            @include to($break_md) {
                margin-top: 10px;
            }
        }
    }

    &:not(&--banner) {
        @include xl-block {
            &:hover {
                box-shadow: 0 2px 40px rgba(34, 155, 215, 0.15);
            }
        }
    }

    &-list--three {
        @include sm-block {
            @include row-flex();
            margin-bottom: -24px;
        }
        @include u-row-flex(4px);
        margin-bottom: -4px;

        & .product {
            @include xl-block {
                @include u-size(3, 9, $offset);
            }
            @include lg-block {
                @include u-size(4.5, 9, $offset);
            }
            @include sm-block {
                @include size(6);
                @include col;
            }
            @include u-size(6, $columns, 4px);
            margin-left: 2px;
            margin-right: 2px;
        }
    }

    &-list {
        @include sm-block {
            @include row-flex();
            margin-bottom: -24px;
        }
        @include u-row-flex(4px);
        margin-bottom: -4px;

        .section--category & {
            flex-wrap: nowrap;
        }

        .section--add-to-cart & {
            @include row-flex();
            @include xl-block {
                flex-wrap: wrap;
            }
            flex-wrap: nowrap;
        }

        &__loader {
            margin-top: 60px;
            text-align: center;
        }

        &--category {
            @include sm-block {
                margin-bottom: -35px;
                margin-right: 0;
                margin-left: 0;
                padding-top: 0;
            }
        }

        body &--recommendation {
            flex-wrap: nowrap;
            width: auto;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &-list & {
        @include to($break_md) {
            &__inner {
                padding: 12px;
            }

            &__top {
                top: 12px;
                right: 12px;
                left: 12px;
            }
        }

        @include to(21.25rem) { // 340
            &__inner {
                padding: 8px;
            }
            &__top {
                top: 8px;
                right: 8px;
                left: 8px;
            }
        }
    }

    &-recommendation-slider, &-list-slider {
        position: relative;

        &__prev, &__next {
            position: absolute;
            z-index: 2;
            top: 0;
            width: 79px;
            height: 100%;

            .section--recommendation &, .section--category & {
                @include to($break_md) {
                    width: 32px;
                    & .icon {
                        @include wh(14px, 72px);
                        background-image: url(icon-arrow-triangle-thin());
                        background-color: transparent;
                        background-size: 14px, 72px;
                        box-shadow: none;
                        margin-top: -36px;
                    }
                }

                &:before {
                    content: none;
                }
            }

            & .icon {
                position: absolute;
                top: 50%;
                margin-top: -24px;
            }

            &.swiper-button-disabled {
                display: none;
            }
        }

        &__prev {

            &:before {
                content: "";
                position: absolute;
                width: 79px;
                height: 100%;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 142.41%);
            }

            .section--recommendation &, .section--category & {
                @include slider-screen {
                    left: -24px;
                }
                left: -10px;
                & .icon {
                    left: 0;
                }
            }

            & .icon {
                left: 0;
            }
        }

        &__next {
            right: 0;

            &:before {
                content: "";
                position: absolute;
                right: 0;
                width: 79px;
                height: 100%;
                background: linear-gradient(270deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 142.41%);
            }

            .section--recommendation &, .section--category & {
                @include slider-screen {
                    right: -24px;
                }
                right: -10px;

                & .icon {
                    @include to($break_md) {
                        @include rotate();
                    }
                }
            }

            & .icon {
                right: 0;
            }
        }
    }

    &-list-slider {
        &__container {
            @include xl-block {
                overflow: inherit;
            }
        }

        &__prev, &__next {
            display: none;

            &.init {
                @include xl-block {
                    display: none;
                }
                display: block;
            }
        }

        &__prev {
            left: -24px;
        }
    }

    &-recommendation-slider {
        @include to($break_md) {
            overflow: hidden;
            .section--recommendation & {
                &__prev {
                    left: 0;
                }
                &__next {
                    right: 0;
                }
            }
        }

        &__container {
            @include xl-block {
                margin: -50px -16px;
                padding: 50px 16px;
            }
        }

        & .product-list .product {
            @include xl-block {
                width: 100%;
                max-width: 282px;
                margin-left: 0;
                margin-right: 24px;
            }
            margin-left: 12px;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-recommendation-slider & {
        @include to($break_md) {
            height: auto;
        }

        @include to($break_sm) {
            width: 100%;
            max-width: 330px;
            height: auto;
            border: none;
            margin-right: 0;
            margin-left: 0;
            &:last-child {
                margin-right: 0;
            }
        }

        &__inner {
            @include to($break_sm) {
                margin: 0 36px;
                padding: 0;
            }
            @include to(21.25rem) { // 340
                margin: 0 20px;
                padding: 0;
            }
        }

        &__img-link {
            @include to($break_md) {
                @include wh(176px);
            }
        }

        &__data {
            @include to($break_md) {
                margin-top: 30px;
            }
        }

        &__title {
            @include to($break_md) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__desc {
            @include to($break_md) {
                font-size: 15px;
                line-height: 20px;
            }
        }

        &__price {
            @include to($break_md) {
                font-size: 20px;
                line-height: 27px;
            }
        }

        &__actions {
            @include to($break_sm) {
                margin-top: 10px;
            }
        }
    }

    &-list-section {
        & .container {
            @include container-padding;
        }
    }
}