.product {
    @include col();
    @include size-xl(3);
    @include size-lg(4);
    @include size-sm(6);
    @include size(12);
    @include transitionEaseOutQuint(box-shadow);
    box-sizing: border-box;
    height: 426px;
    border: 1px solid rgba(34, 155, 215, 0.15);
    background: #fff;
    border-radius: 12px;
    margin-bottom: 24px;

    &__inner {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        padding: 24px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 17px;
        right: 20px;
        left: 24px;
        height: 0;
    }

    &__right {
        margin-left: auto;
    }

    &__label {
        margin-bottom: 8px;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__img-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 215px;
    }

    &__data {
        margin-top: 24px;
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #343e44;
        text-decoration: none;
        max-height: 42px;
        overflow: hidden;
    }

    &__desc {
        display: flex;
        align-items: flex-end;
        font-size: 16px;
        line-height: 21px;
        color: #acacac;
        margin-top: 8px;
        max-height: 42px;
        overflow: hidden;
    }

    &__price {
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        color: #1b262c;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }

    &--banner {
        border: none;
    }

    &--banner &__img-link {
        height: 100%;
    }

    &--category {
        @include size-xl(4);
        @include size-lg(4);
        max-width: 373px;
        height: 450px;
        margin-top: 45px;
        margin-bottom: 40px;
    }

    &--category & {
        &__inner {
            padding: 26px 30px 34px 32px;
        }

        &__favorite {
            display: none;
        }

        &__top {
            top: 26px;
            right: 30px;
        }

        &__img-link {
            @include wh(220px, 304px);
            margin-top: -70px;
            margin-left: 10px;
        }
    }

    &:not(&--banner) {
        &:hover {
            box-shadow: 0 2px 40px rgba(34, 155, 215, 0.15);
        }
    }

    &-list {
        @include row-flex();
        margin-bottom: -24px;

        &--category {
            justify-content: space-between;
            margin-bottom: -40px;
            padding-top: 0;
        }
    }

    &-list-slider {
        &__prev, &__next {
            position: absolute;
        }
    }
}