

mixin product
    .product.js-vue-product
        .__inner
            .__data
                a(href='#').__title "Легенда жизни" 19л
                .__desc Йод, фтор и селен
            button(type='button' data-id='1' @click='addToCartOne') Купить