.cart-page {
    margin-top: 50px;
    margin-bottom: 56px;

    &__header {
        @include row-flex;

        &-left, &-center, &-right {
            @include size(4);
            @include col;
        }

        &-center {
            display: flex;
            justify-content: center;
        }

        &-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__products {
        margin-top: 32px;
    }

    &__list {
        @include row-flex;
    }

    &__footer {
        @include row-flex;
        margin-top: 32px;

        &-right, &-left {
            @include size(6);
            @include col;
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    &__clean {
        font-size: 18px;
        line-height: 27px;
        color: #9db2c6;
        text-decoration: none;
    }

    &__title {
        font-family: $ff-Tavolga;
        font-style: normal;
        font-weight: 500;
        font-size: 58px;
        line-height: 64px;
        color: #004f91;
    }

    &__order {
        display: flex;
        align-items: center;
    }

    &__total {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        &-title {
            font-size: 16px;
            line-height: 25px;
            color: #343e44;
        }

        &-value {
            font-weight: 600;
            font-size: 32px;
            line-height: 36px;
            color: #000000;
        }
    }

    &__to-order {
        margin-left: 36px;
    }

    &__promocode {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 28px;
    }

    &__promocode &__promocode-input {
        width: 100%;
        max-width: 245px;
        margin-right: 16px;
        &.error {
            margin-bottom: 0;
        }

        & input {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}