.cart-page {
    margin-top: 50px;
    &__header {
        @include row-flex;

        &-left, &-center, &-right {
            @include size(4);
            @include col;
        }

        &-center {
            display: flex;
            justify-content: center;
        }

        &-right {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__products {
        margin-top: 50px;
    }

    &__list {
        @include row-flex;
    }

    &__footer {
        @include row-flex;

        &-right, &-left {
            @include size(6);
            @include col;
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}