.address {
    overflow-y: auto;

    &__item {
        margin-bottom: 24px;
        box-sizing: border-box;

        &.active {
            padding-bottom: 25px;
            border-bottom: 1px solid rgba(34, 155, 215, 0.15);
        }

        &-head {
            margin-bottom: 12px;
            display: flex;
            cursor: pointer;
        }

        &-icon {
            @include wh(24px);
            @include transitionEaseOutQuint(transform);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(34, 155, 215, 0.15);
            padding: 4px;
            margin-right: 12px;
            background-color: #fff;
            border-radius: 50%;
        }

        &.active &-icon {
            @include rotate();
        }

        &-name {
            font-size: 16px;
            line-height: 24px;
            color: #424f56;
            width: #{calc(100% - 36px)};
        }

        &.active &-name {
            font-weight: $bold;
            color: #004f91;
        }

        &-data {
            font-size: 16px;
            line-height: 21px;
            color: #373737;
            padding-left: 36px;

            & a {
                text-decoration: none;
                color: #373737;
            }
        }

        &-value {
            & + & {
                margin-top: 12px;
            }
        }
    }
}