-
    const footerMenu = [
        'Акции и предложения',
        'Изменим мир к лучшему',
        'Каталог',
        'О компании',
        'Доставка и оплата',
        'Контакты',
        'Услуги',
    ]