.button {
    @include outline-none();
    @include transitionEaseOutQuint(all);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: none;
    padding: 12px 32px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #434445;
    text-decoration: none;
    cursor: pointer;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &--default {
        @include transitionEaseOutQuint(background);
        box-sizing: border-box;
        padding: 16px 32px;
        background: #229bd7;
        border-radius: 32px;
        font-size: 15px;
        line-height: 20px;
        color: #fff;

        &:hover {
            background-color: #007bc2;
        }
    }

    &--bordered {
        @include md-block {
            padding: 15px 40px;
            font-size: 18px;
            line-height: 24px;
        }
        box-sizing: border-box;
        border: 1px solid rgba(0, 123, 194, 0.5);
        padding: 15px 32px;
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        border-radius: 36px;
        background: #fff;
    }

    &--bordered-md {
        box-sizing: border-box;
        border: 1px solid rgba(0, 123, 194, 0.5);
        border-radius: 32px;
        padding: 15px 32px;
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        background: #fff;
    }

    &--buy-all {
        box-sizing: border-box;
        padding: 16px 40px;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        background: #229bd7;
        border-radius: 36px;
    }

    &--back {
        box-sizing: border-box;
        border: 1px solid #f1f6fc;
        border-radius: 32px;
        padding: 16px 32px;
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        background: #fff;
    }

    &--order {
        @include md-block {
            padding: 16px 48px;
            font-size: 22px;
            line-height: 34px;
        }
        padding: 8px 21px;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        background: #229bd7;
        border-radius: 36px;
        &:disabled {
            opacity: 1;
            color: #bcbfc1;
            background: #eff5f8;
        }
    }

    &--in-cart {
        @include sm-block {
            padding: 12px 16px;
            &:before {
                content: none;
            }
        }
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 123, 194, 0.5);
        padding: 5px 10px;
        border-radius: 28px;
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        background: #fff;

        &:before {
            @include wh(24px);
            content: "";
            position: relative;
            background-image: url(icon-plus('229BD7'));
            background-position: center;
            background-repeat: no-repeat;
        }

        &.in-cart {
            box-sizing: border-box;
            border: 1px solid rgba(0, 123, 194, 0.5);
            background: #007bc2;
            border-radius: 28px;
            color: #fff;

            &:before {
                background-image: url(icon-plus('fff'));
            }
            & .icon {
                background-image: url(icon-product-cart('fff'));
            }
        }

        & .icon {
            @include sm-block {
                margin-right: 8px;
            }
        }

        & span {
            @include sm-block {
                display: inline;
            }
            display: none;
        }
    }

    &--for-bottle {
        @include md-block {
            width: auto;
            border: 1px solid rgba(0, 123, 194, 0.5);
            border-radius: 28px;
        }
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        background: #fff;

        &.in-cart {
            @include md-block {
                width: auto;
                border-radius: 28px;
            }
            box-sizing: border-box;
            width: 100%;
            background: #007bc2;
            color: #fff;
            & .icon {
                background-image: url(icon-product-cart('fff'));
            }
        }

        & .icon {
            @include sm-block {
                margin-right: 8px;
            }
        }
    }

    &--in-cart-category {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 123, 194, 0.5);
        padding: 12px 16px;
        border-radius: 28px;
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        background: #fff;

        &.in-cart {
            box-sizing: border-box;
            border: 1px solid rgba(0, 123, 194, 0.5);
            background: #007bc2;
            border-radius: 28px;
            color: #fff;
            & .icon {
                background-image: url(icon-product-cart('fff'));
            }
        }

        & .icon {
            margin-right: 8px;
        }
    }

    &--in-cart-big {
        @include md-block {
            padding: 15px 40px;
        }
        @include from(360px) {
            padding: 13px 24px;
            font-size: 18px;
            line-height: 24px;
        }
        box-sizing: border-box;
        display: flex;
        align-items: center;
        min-height: 52px;
        border: 1px solid rgba(0, 123, 194, 0.5);
        padding: 13px 14px;
        border-radius: 36px;
        font-size: 14px;
        line-height: 20px;
        color: #007bc2;
        background: #fff;
        &.in-cart {
            background: #007bc2;
            border-radius: 36px;
            color: #fff;
            & .icon {
                background-image: url(icon-cart('fff'));
            }
        }

        & .icon {
            @include md-block {
                @include wh(32px);
            }
            @include wh(24px);
            margin-right: 10px;
        }
    }
}

.link {
    @include outline-none();
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #004f91;

    &--default {
        @include transitionEaseOutQuint(opacity);
        &:hover {
            opacity: .8;
        }
    }

    &--all {
        @include transitionEaseOutQuint(background);
        @include md-block {
            padding: 16px 32px;
            font-size: 15px;
            line-height: 20px;
        }
        box-sizing: border-box;
        padding: 8px 16px;
        background-color: #229bd7;
        border-radius: 32px;
        font-size: 14px;
        line-height: 18px;
        color: #fff;

        &:hover {
            background-color: #007bc2;
        }
    }

    &--big {
        @include transitionEaseOutQuint(background);
        @include xl-block {
            font-size: 24px;
            line-height: 36px;
            padding: 20px 48px;
        }

        box-sizing: border-box;
        display: inline-block;
        padding: 16px 20px;
        background-color: #229bd7;
        border-radius: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        white-space: nowrap;
        color: #fff;
        &:hover {
            background-color: #007bc2;
        }
    }

    &--bordered {
        @include transitionEaseOutQuint((background, border, color));
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid rgba(0, 123, 194, 0.25);
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 13px;
        line-height: 15px;
        color: #007bc2;

        &:hover {
            background-color: #007bc2;
            border-color: #007bc2;
            color: #fff;
        }
    }

    &--bordered-md {
        @include transitionEaseOutQuint((background, border, color));
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid rgba(34, 155, 215, 0.15);
        border-radius: 24px;
        padding: 12px 20px;
        font-size: 16px;
        line-height: 21px;
        color: #007bc2;
        &:hover {
            background-color: #007bc2;
            border-color: #007bc2;
            color: #fff;
        }
    }

    &--repeat {
        @include transitionEaseOutQuint(opacity);
        font-size: 15px;
        line-height: 20px;
        color: #007bc2;
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        &:hover {
            opacity: .8;
        }

        & .icon {
            margin-right: 10px;
        }
    }
}


.field {
    @include md-block {
        margin-bottom: 20px;
    }
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    &__input {
        @include outline-none;
        box-sizing: border-box;
        width: 100%;
        background: #fff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        padding: 15px 20px;
    }

    &__textarea {
        resize: vertical;
        width: 100%;
        min-height: 150px;
    }

    &__placeholder {
        position: absolute;
        top: -8px;
        left: 20px;
        background: #fff;
        font-size: 12px;
        line-height: 18px;
        color: #8b8b8b;
        padding: 0 2px;
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
    }

    &-checkbox {
        @include outline-none();
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &__input {
            display: none;
        }

        &__input:checked ~ &__custom {
            border-color: #007bc2;
            &:before {
                @include wh(100%);
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #007bc2;
                background-image: url(icon-checkbox-check());
                background-position: center;
                background-repeat: no-repeat;
                background-size: 10px;
            }
        }

        &__custom {
            @include transitionEaseOutQuint((background, border));
            @include wh(22px);
            box-sizing: border-box;
            display: inline-flex;
            position: relative;
            border: 1px solid #ced8dd;
            background: #fff;
            border-radius: 4px;
            cursor: pointer;
            line-height: 0;
            font-size: 0;
        }

        &__text {
            @include transitionEaseOutQuint(color);
            display: inline-flex;
            width: #{calc(100% - 34px)};
            font-size: 16px;
            line-height: 22px;
            color: #343e44;
            margin-left: 12px;

            & a {
                display: inline;
                text-decoration: none;
                font-size: 16px;
                line-height: 22px;
                color: #343e44;
            }
        }

        &:hover &__text {
            color: #007bc2;
        }
        &:hover &__custom {
            border-color: #007bc2;
        }
    }

    &-checkbox-rounded {
        @include outline-none();
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &__input {
            display: none;
        }

        &__input:checked ~ &__custom {
            &:before {
                @include wh(100%);
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: url(icon-checkbox-check('007BC2'));
                background-position: center;
                background-repeat: no-repeat;
                background-size: 10px;
            }
        }

        &__custom {
            @include transitionEaseOutQuint(background);
            @include wh(22px);
            box-sizing: border-box;
            display: inline-flex;
            position: relative;
            border: 1px solid #ced8dd;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            line-height: 0;
            font-size: 0;
        }

        &__text {
            @include sm-block {
                font-size: 15px;
                line-height: 22px;
                margin-top: 0;
                margin-left: 16px;
            }
            margin-top: 2px;
            display: inline-flex;
            flex-wrap: wrap;
            width: #{calc(100% - 38px)};
            font-size: 14px;
            line-height: 18px;
            color: #acacac;
            margin-left: 10px;

            & span {
                margin-right: 5px;
            }

            & a {
                @include sm-block {
                    font-size: 16px;
                    line-height: 22px;
                }
                display: inline;
                text-decoration: underline;
                font-size: 14px;
                line-height: 18px;
                color: #004f91;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &--dark & {
            &__text {
                margin-left: 12px;
                font-size: 16px;
                line-height: 20px;
                color: #343e44;
            }
        }
    }

    &-radio {
        @include outline-none();
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &__input {
            display: none;
        }

        &__input:checked ~ &__custom {
            position: relative;
            &:before {
                @include wh(10px);
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background: #007bc2;
                border-radius: 50%;
            }
        }

        &__custom {
            @include transitionEaseOutQuint(background);
            @include wh(22px);
            box-sizing: border-box;
            border: 1px solid #ced8dd;
            background: #fff;
            border-radius: 50%;
        }

        &__text {
            width: #{calc(100% - 34px)};
            font-size: 16px;
            line-height: 20px;
            color: #343e44;
            margin-left: 12px;

            & a {
                display: inline;
                text-decoration: none;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.is-loading {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #fff;
    border: 1px solid rgba(0, 123, 194, 0.5);
    border-radius: 36px;
    background: #fff;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 20px;
        left: 50%;
        width: 320px;
        height: 320px;
        transform: translate(-50%);
        transition: all 1s;
        animation: wave-button 5s infinite linear;
        border-radius: 130px;
        background-color: #229bd7;
    }

    &:hover:before {
        top: 15px;
    }
}

body .on-hover, .on-hover-reverse, {
    position: relative;
    z-index: 1;
    overflow: hidden;
    animation: wave-button-text 1s ease;
    color: #fff;

    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -10px;
        left: 50%;
        width: 320px;
        height: 320px;
        transform: translate(-50%);
        transition: all 1s;
        border-radius: 130px;
        background-color: #229bd7;
        animation: wave-button-full 1s linear;
    }
}

body .on-hover {
    & .icon-product-cart {
        animation: wave-button-icon 2s ease;
    }
}

body .on-hover-reverse {
    animation: wave-button-text-reverse 2s ease;
    color: #007bc2;
    &:after {
        transform: translate(-50%, 20%);
        animation: wave-button-full-reverse 1s linear;
    }

    & .icon-product-cart {
        animation: wave-button-icon-reverse 2s ease;
    }
}

@include keyframes(wave-button) {
    0% {
        transform: translate(-50%) rotate(-180deg);
    }
    100% {
        transform: translate(-50%) rotate(360deg);
    }
}

@include keyframes(wave-button-full) {
    0% {
        transform: translate(-50%, 20%) rotate(0);
    }
    100% {
        transform: translate(-50%) rotate(180deg);
    }
}

@include keyframes(wave-button-full-reverse) {
    0% {
        transform: translate(-50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, 20%) rotate(-180deg);
    }
}

@include keyframes(wave-button-text) {
    0% {
        color: #007bc2;
    }
    100% {
        color: #fff;
    }
}

@include keyframes(wave-button-text-reverse) {
    0% {
        color: #fff;
    }
    100% {
        color: #007bc2;
    }
}

@include keyframes(wave-button-icon) {
    0% {
        background-image: url(icon-product-cart('229BD7'));
    }
    100% {
        background-image: url(icon-product-cart('fff'));
    }
}

@include keyframes(wave-button-icon-reverse) {
    0% {
        background-image: url(icon-product-cart('fff'));
    }
    100% {
        background-image: url(icon-product-cart('229BD7'));
    }
}


.test {
    &-row {
        @include row-flex;
    }
    &-col {
        @include col;
        @include size(1);
        background: #7fffd4;
        height: 100px;
    }
}
