include ../../components/section/section
include ../../components/breadcrumbs/breadcrumbs

//- Модуль внутренних страниц

mixin inner-page(showTitle = true, title)
    +section(false).section--inner-page
        +container
            +breadcrumbs(breadcrumbs).section__breadcrumbs
    if showTitle
        section.section-title
            +container
                h1.h1 #{title || h1}
