include data

mixin blog
    section.blog
        +blog-head
        +blog-content

mixin blog-head
    include ../info-card/info-card
    include ../menu-nav/menu-nav
    section.blog-head
        +container
            .__inner
                +info-card-section(blogCategory).__list.info-card-section--blog-head
            .__text
                p ООО «Барнаульская водяная компания» заботится о здоровье своих клиентов, обеспечивая их полезной питьевой водой высшей категории качества «Легенда жизни».
                p Для производства «Легенды» мы добываем воду из артезианских скважин с глубины 240 и 280 метров. Водоподготовка и розлив «Легенды» происходят непосредственно у источника. Вода разливается в бутыли объемом 19,11,4 литров, а также в мелкую тару 0,33-5 литров и доставляется клиентам домой, на работу, в детские сады и школы.
                p Для удобного и гигиеничного разбора воды из бутыли мы предлагаем специальное оборудование - кулеры, помпы и диспенсеры. Мы осуществляем гарантийное и постгарантийное обслуживание раздатчиков воды и их санитарную обработку.

mixin blog-content
    include ../pagination/pagination
    section.blog-content
        +container
            .__inner
                +menu-nav([
                    {name: 'Все', active: true},
                    {name: 'Новости'},
                    {name: 'Статьи'},
                    {name: 'Репортажи'},
                ]).__nav
                .__body
                    for item in blogList
                        +blog-item(item)
                +pagination.pagination--dashed.__pagination



mixin blog-item(data)
    a(href='#').blog-item
        .__pic(style=`background-image: url(${data.img})`)
        .__info
            .__date=data.date
            .__title=data.title
            .__desc=data.desc
