-
    const getImgBlogInfoCard = (img) => `img/blog/blog-head-${img}.png`
    const getItemInfoCard = (img, title) => ({img, title})
    const blogCategory = [
        getItemInfoCard(
            getImgBlogInfoCard(1),
            'Детская вода'
        ),
        getItemInfoCard(
            getImgBlogInfoCard(2),
            'Экскурсия по производству'
        ),
        getItemInfoCard(
            getImgBlogInfoCard(3),
            'История компании'
        )
    ]

    const getImgBlogItem = (img) => `img/blog/blog-${img}.jpg`
    const getBlogItem = (img, date, title, desc) => (
        {img: getImgBlogItem(img), date, title, desc}
    )
    const blogList = [
        getBlogItem(
            1,
            '18 июня 2020',
            '8-метровое сердечное спасибо: как в Барнауле благодарят медицинских работников.',
            '8-метровое слово «СПАСИБО» и фигура сердца, выстроенная из людей стали основой для видеопоздравления, которое подготовили для врачей сотрудники «Легенды жизни».'
        ),
        getBlogItem(
            2,
            '14 мая 2020',
            'Дай пять!',
            'На полках магазинов торговой сети «Пятерочка» появилась вода «Легенда жизни Детская» и «Легенда жизни Спорт».'
        ),
        getBlogItem(
            3,
            '29 апреля 2020',
            'Обратите внимание',
            'С 29.04.2020 наш водомаркет по адресу: Павловский тракт, 156 закрыт. Приносим свои извинения за доставленные неудобства.'
        ),
        getBlogItem(
            4,
            '29 апреля 2020',
            'Пусть утро будет добрым!',
            'Вы слышите? Прислушайтесь! Как хрустит свежий хлеб с аппетитной корочкой'
        ),
        getBlogItem(
            5,
            '29 апреля 2020',
            'Районы доставки воды "Легенда жизни" в садоводства',
            'С 25 апреля доставляем полезную воду на дачу.'
        ),
        getBlogItem(
            6,
            '29 апреля 2020',
            'Обратите внимание',
            'С 29.04.2020 наш водомаркет по адресу: Павловский тракт, 156 закрыт. Приносим свои извинения за доставленные неудобства.'
        ),
        getBlogItem(
            7,
            '29 апреля 2020',
            'Пусть утро будет добрым!',
            'Вы слышите? Прислушайтесь! Как хрустит свежий хлеб с аппетитной корочкой'
        ),
        getBlogItem(
            8,
            '29 апреля 2020',
            'Районы доставки воды "Легенда жизни" в садоводства',
            'С 25 апреля доставляем полезную воду на дачу.'
        ),
        getBlogItem(
            3,
            '29 апреля 2020',
            'Обратите внимание',
            'С 29.04.2020 наш водомаркет по адресу: Павловский тракт, 156 закрыт. Приносим свои извинения за доставленные неудобства.'
        ),
        getBlogItem(
            4,
            '29 апреля 2020',
            'Пусть утро будет добрым!',
            'Вы слышите? Прислушайтесь! Как хрустит свежий хлеб с аппетитной корочкой'
            ),
        getBlogItem(
            5,
            '29 апреля 2020',
            'Районы доставки воды "Легенда жизни" в садоводства',
            'С 25 апреля доставляем полезную воду на дачу.'
        ),
    ]