.footer {
    @include md-block {
        padding-top: 82px;
        padding-bottom: 66px;
    }
    background: #eefafd;
    padding-top: 37px;
    padding-bottom: 41px;

    &__top {
        @include row-flex;
        @include md-block {
            padding-bottom: 49px;
        }
        padding-bottom: 32px;
    }

    &__bottom {
        @include row-flex;
        @include lg-block {
            padding-top: 40px;
        }
        padding-top: 28px;
    }

    &__hr {
        width: 100%;
        border-bottom: 1px solid #d9e5e8;
    }

    &__info {
        @include col;
        @include size-md(3);
        @include size-sm(6);
        @include size(12);
    }

    &__menu {
        @include col;
        @include size(6);
        @include md-block {
            display: flex;
            justify-content: center;
        }
        display: none;
    }

    &__meta {
        @include col;
        @include size-md(3);
        @include size-sm(6);
        @include size(12);
    }

    &__copyright, &__authors {
        @include col;
        @include size-sm(6);
        @include size(12);
        @include sm-block {
            text-align: inherit;
        }
        text-align: center;
    }

    &__authors {
        @include sm-block {
            text-align: right;
        }
        text-align: center;
    }

    &__address {
        @include sm-block {
            font-size: 16px;
            line-height: 25px;
            text-align: left;
            margin-bottom: 4px;
        }
        text-align: center;
        color: #1b262c;
        margin-bottom: 12px;
        font-size: 15px;
        line-height: 20px;
    }

    &__copyright {
        @include sm-block {
            margin-bottom: 0;
        }
        font-size: 15px;
        line-height: 25px;
        color: #85a0ad;
        margin-bottom: 16px;
    }

    &__work-time {
        @include sm-block {
            margin-bottom: 24px;
        }
        margin-bottom: 20px;
        &-item {
            @include sm-block {
                font-size: 16px;
                line-height: 25px;
                text-align: left;
            }
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            display: block;
            color: #1b262c;
        }
    }

    &__phone-title {
        @include sm-block {
            text-align: left;
        }
        margin-bottom: 4px;
        text-align: center;
    }

    &__phone-block {
        @include sm-block {
            margin-bottom: 0;
        }
        margin-bottom: 24px;
    }

    &__social {
        @include sm-block {
            margin-top: 8px;
            margin-bottom: 42px;
            justify-content: flex-end;
        }
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
    }

    &__legal-info {
        @include sm-block {
            font-size: 15px;
            line-height: 25px;
            justify-content: flex-end;
        }
        display: flex;
        justify-content: center;
        font-size: 13px;
        line-height: 18px;
        color: #1b262c;
        text-decoration: none;
    }

    & .phone-list {
        @include md-block {
            flex-direction: row;
            align-items: center;
        }
        @include sm-block {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    & .container {
        padding: 0 16px;
    }
}