.auth {
    @include md-block {
        margin-top: 48px;
    }
    margin-top: 24px;

    & .container {
        @include container-padding;
    }

    &__nav {
        @include md-block {
            margin-bottom: 40px;
        }
        margin-bottom: 24px;

        &-item {
            @include outline-none();
            @include sm-block {
                padding: 12px 24px;
                margin-right: 24px;
            }
            box-sizing: border-box;
            width: auto;
            padding: 8px 16px;
            margin-right: 4px;
            text-decoration: none;
            border-radius: 57px;

            &:last-child {
                margin-right: 16px;
            }

            &.active {
                background: #f1f6fc;
            }
        }

        &-text {
            @include sm-block {
                font-size: 16px;
                line-height: 21px;
            }
            font-size: 14px;
            line-height: 19px;
            color: #343e44;
            border-bottom: 1px dashed #343e44;
        }

        &-item.active &-text {
            color: #004f91;
            border-bottom: transparent;
        }

        &-item:hover &-text {
            border-bottom-style: solid;
            opacity: .8;
        }
    }

    &-form {
        max-width: 373px;

        &__agree {
            margin-top: 4px;
            margin-bottom: 36px;
        }

        &__button {
            margin-top: 15px;
        }

        &__message {
            @include md-block {
                font-size: 16px;
                line-height: 22px;
            }
            font-size: 14px;
            line-height: 20px;
            color: #2d9d46;
        }

        &__restore {
            margin-left: 48px;
        }
    }
}
