include ../helpers/functions
include ../helpers/mixins
include ../../blocks/modules/inner-page/inner-page
include ../../blocks/modules/header/header
include ../../blocks/modules/footer/footer
include ../../blocks/modules/notification/notification
block variables
    include ../helpers/variables

doctype html
html(lang="ru")
    include ../helpers/head

    body
        .wrapper
            .main-content
                block header
                    +header(isMain)
                main(class={'inner-page': isInnerPage, 'main-page': isMain})
                    if isInnerPage
                        +inner-page(showTitle)
                        block content
                    else
                        block content
            block footer
                +footer
            block notification
                +notification
        block modals
            //include ../../blocks/modules/modals/modals
        block scripts
            script(src="/js/main.js")
            script(src="/js/vendor.js")
