.cart {
    display: flex;

    &__inner {
        @include md-block {
            align-items: flex-end;
        }
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__icon {
        @include xl-block {
            margin-right: 53px;
        }
        @include md-block {
            @include wh(32px);
            background-size: 32px;
            margin-right: 35px;
        }
        @include wh(24px);

        @include to($break_sm) {
            &.icon-favorite-cart {
                display: none;
            }
        }
        background-size: 24px;
        margin-right: 20px;
    }

    &__link {
        @include outline-none;
        text-decoration: none;
        display: inline-flex;
        align-items: flex-end;

        &--auth {
            @include md-block {
                @include wh(32px);
                margin-right: 32px;
                border-radius: 10px;
            }
            @include wh(24px);
            background: $skeleton-color;
            border-radius: 8px;
            margin-right: 20px;
            &:not(.loaded) {
                @include skeleton-loader;
                & + & {
                    display: none;
                }

                & .icon {
                    display: none;
                }
            }
            &.loaded {
                width: auto;
                height: auto;
                background: none;
                margin-right: 0;
            }
        }
    }

    &__data {
        @include header-tablet {
            display: block;
        }
        box-sizing: border-box;
        display: none;
        min-width: 100px;
        height: 44px;
        background: $skeleton-color;
        border-radius: 10px;

        &:not(.loaded) {
            @include skeleton-loader;
            & span {
                display: none;
            }
            & + & {
                display: none;
            }
        }
        &.loaded {
            height: auto;
            background: none;
        }
        &-title {
            display: block;
            font-size: 15px;
            line-height: 20px;
            text-align: right;
            color: #9da0a2;
            margin-bottom: 4px;
        }
        &-value {
            display: block;
            font-weight: 500;
            font-size: 22px;
            line-height: 24px;
            text-align: right;
            color: #1b262c;
        }
        &-empty {
            display: block;
            max-width: 98px;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #9da0a1;
        }
    }

    &__link--order &__icon {
        margin-right: 25px;
    }

    &__order {
        @include md-block {
            align-items: flex-end;
            width: auto;
            height: auto;
            background: transparent;
        }
        @include wh(64px);
        background: #229bd7;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;

        & .icon-cart {
            @include to($break_md) {
                margin-right: 0;
                background-image: url(icon-cart('fff'));
            }
        }
    }

    &__mini {
        display: none;
        position: absolute;
        z-index: 100;
        top: 70px;
        right: 0;
        width: 690px;
        max-height: 444px;
        &:before {
            @include xl-block {
                top: -30px;
                height: 30px;
            }
            content: "";
            position: absolute;
            top: -42px;
            right: 0;
            width: 100%;
            height: 42px;
        }
    }

    &__order:hover &__mini {
        @include md-block {
            display: block;
        }
    }

    &-mini {
        background: #fff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

        &__body {
            padding-top: 5px;
        }

        &__footer {
            text-align: right;
            padding: 16px 40px 28px;
        }

        &__total {
            margin-bottom: 16px;
            &-title {
                font-size: 15px;
                line-height: 20px;
                color: #343e44;
                margin-right: 12px;
            }

            &-value {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                color: #1b262c;
            }
        }

        &__list {
            box-sizing: border-box;
            max-height: 306px;
            overflow-y: auto;
            padding-right: 7px;
            margin-right: 7px;
        }
    }

    &-bottle {
        @include xl-block {
            padding: 35px 45px 35px 50px;
        }
        @include md-block {
            padding: 20px 16px 16px;
        }
        background: #fff;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        padding: 20px 0 0;

        &__head {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 0 16px;
        }

        &__icon {
            @include md-block {
                @include wh(64px);
                margin-left: 0;
            }
            @include wh(48px);
            margin-right: 8px;
            margin-left: 12px;
        }

        &__title {
            @include xl-block {
                font-size: 24px;
                line-height: 32px;
            }
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #004f91;
        }

        &__hint {
            margin-left: 16px;
        }

        &__body {
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }

        &__data {
            @include md-block {
                width: #{calc(100% - 222px)};
            }
            width: 100%;
        }

        &__name {
            @include xl-block {
                font-size: 18px;
                line-height: 25px;
            }
            @include md-block {
                position: relative;
                top: auto;
                left: auto;
                width: 100%;
                padding-right: 0;
            }
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: 16px;
            left: 74px;
            width: #{calc(100% - 74px)};
            padding-right: 16px;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #343e44;
        }

        &__action {
            @include md-block {
                padding: 0;
            }
            display: flex;
            align-items: center;
            padding-right: 16px;
        }

        &__price {
            @include xl-block {
                margin-left: 32px;
            }
            @include md-block {
                margin-left: 20px;
            }
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #1b262c;
            margin-left: auto;
        }

        &__buy {
            @include md-block {
                align-self: flex-end;
                width: auto;
                margin-left: auto;
                margin-top: 0;
                padding-bottom: 10px;
                border-top: none;
            }
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 16px;
            border-top: 1px solid rgba(34, 155, 215, 0.15);
        }
    }
}