
mixin cart
    .cart.js-vue-cart
        .__inner
            a(href='#').__link
                +icon('login').__icon
            a(href='#').__link
                +icon('favorite-cart').icon--counted.__icon(
                    :class="classHasFavorites"
                    :data-cnt="cntFavorites"
                )
            a(href='/order').__link.cart__link--order
                +icon('cart').icon--counted.__icon(
                    :class="classHasInCart"
                    :data-cnt="cnt"
                )
                .__data(:class="setLoaded" v-if="hasInCart")
                    span.__data-title Заказ на
                    span.__data-value {{ total | ruble }}
                .__data(:class="setLoaded" v-else)
                    span.__data-empty В корзине нет товаров
