
mixin cart
    .cart.js-vue-cart
        div Корзина {{ products }}
        div Избранное {{ favorites }}
        div В избрнном: {{ cntFavorites }}
        div В корзине: {{ cnt }}
        div Сумма: {{ total }} руб.
        a(href='/order') В корзину