.about-category {
    @include md-block {
        margin-top: 140px;
        margin-bottom: 90px;
    }
    margin-top: 48px;
    margin-bottom: 48px;

    & .container {
        @include md-block {
            @include container-padding;
        }
    }
}