-
    const getImgAboutCategory = (img) => `img/about-category/item-${img}.jpg`
    const getItemAboutCategory = (img, title) => ({img, title})
    const aboutCategory = [
        getItemAboutCategory(
            getImgAboutCategory(1),
            'Производство'
        ),
        getItemAboutCategory(
            getImgAboutCategory(2),
            'СТМ'
        ),
        getItemAboutCategory(
            getImgAboutCategory(3),
            'Экскурсии'
        ),
        getItemAboutCategory(
            getImgAboutCategory(4),
            'Вакансии'
        ),
        getItemAboutCategory(
            getImgAboutCategory(4),
            'Вакансии'
        ),
        getItemAboutCategory(
            getImgAboutCategory(3),
            'Экскурсии'
        ),
        getItemAboutCategory(
            getImgAboutCategory(2),
            'СТМ'
        ),
        getItemAboutCategory(
            getImgAboutCategory(1),
            'Производство'
        )
    ]