.delivery {
    &-type {
        &__data {
            @include md-block {
                padding: 26px 46px 26px 26px;
            }
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border: 2px solid #f1f6fc;
            padding: 20px 25px 20px 18px;
            background: #fff;
            cursor: pointer;
        }

        &__icon {
            @include md-block {
                margin-right: 24px;
            }
            @include to($break_md) {
                @include wh(24px);
            }
            margin-right: 12px;
        }

        &__title {
            @include md-block {
                font-size: 20px;
                line-height: 22px;
            }
            font-size: 18px;
            line-height: 22px;
            color: #004f91;
        }

        &__input {
            display: none;
        }

        &__input:checked ~ &__data {
            background: #004f91;
            border-color: #004f91;
        }

        &__input:checked ~ &__data &__icon {
            &.icon-home {
                background-image: url(icon-home('fff'));
            }

            &.icon-office {
                background-image: url(icon-office('fff'));
            }
        }

        &__input:checked ~ &__data &__title {
            color: #fff;
        }
        &-list {
            @include md-block {
                margin-bottom: 50px;
            }
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    &-datetime {
        display: flex;
        justify-content: space-between;

        &__part {
            width: 100%;
            max-width: 220px;
            &:first-child {
                margin-right: 12px;
            }
            &:last-child {
                margin-left: 12px;
            }
        }
    }
    
    &-form {
        &__submit {
            @include md-block {
                margin-top: 40px;
            }
            margin-top: 20px;
        }
    }
}