@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.eot");
    src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Bold.woff2") format("woff2"),
        url("../fonts/Manrope-Bold.woff") format("woff"),
        url("../fonts/Manrope-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: $bold;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.eot");
    src: url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
        url("../fonts/Manrope-ExtraBold.woff") format("woff"),
        url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.eot");
    src: url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Light.woff2") format("woff2"),
        url("../fonts/Manrope-Light.woff") format("woff"),
        url("../fonts/Manrope-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.eot");
    src: url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Medium.woff2") format("woff2"),
        url("../fonts/Manrope-Medium.woff") format("woff"),
        url("../fonts/Manrope-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.eot");
    src: url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope-Regular.woff") format("woff"),
        url("../fonts/Manrope-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Semibold.eot");
    src: url("../fonts/Manrope-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Manrope-Semibold.woff2") format("woff2"),
        url("../fonts/Manrope-Semibold.woff") format("woff"),
        url("../fonts/Manrope-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Tavolga";
    src: url("../fonts/tavolga-bold.eot");
    src: url("../fonts/tavolga-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/tavolga-bold.woff2") format("woff2"),
        url("../fonts/tavolga-bold.woff") format("woff"),
        url("../fonts/tavolga-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: $bold;
}

@font-face {
    font-family: "Tavolga";
    src: url("../fonts/tavolga-medium.eot");
    src: url("../fonts/tavolga-medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/tavolga-medium.woff2") format("woff2"),
        url("../fonts/tavolga-medium.woff") format("woff"),
        url("../fonts/tavolga-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}