h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $base-color;
    min-width: 320px;
}

html,
body {
    height: 100%;

    &.o-hidden{
        padding-right: 15px;
    }
}

main {
    &.inner-page {
        @include md-block {
            margin-bottom: 140px;
        }
        margin-bottom: 100px;
    }

    &.main-page {
        margin-top: 96px;
        @include md-block {
            margin-bottom: 150px;
        }
        margin-bottom: 100px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
}

.o-hidden {
    overflow: hidden;
}

.hide {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

h1, .h1 {
    @include md-block {
        font-size: 58px;
        line-height: 64px;
    }
    font-family: $ff-Tavolga;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #004F91;
}

h2, .h2 {
    @include md-block {
        font-size: 44px;
        line-height: 56px;
    }
    font-family: $ff-Tavolga;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #004F91;
}

.error-message {
    font-size: 14px;
    line-height: 18px;
    color: #fb6565;
    margin-top: 4px;
    margin-bottom: 10px;
}

.tabs {
    &-content {
        &.active {
            display: block;
        }
    }
}

.scroll-custom {
    /* Firefox */
    scrollbar-color: #f0f0f0 #fff;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
        border: none;
        box-sizing: border-box;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #f0f0f0;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
}

.scroll-custom-map {
    /* Firefox */
    scrollbar-color: #5BC5F2 #EFEFEF;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: #EFEFEF;
        border: none;
        box-sizing: border-box;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #5BC5F2;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
}

.personal-data-form {
    &__submit {
        margin-top: 20px;
    }
}
//
//:root {
//    --size: 10rem;
//}
//.wave-many {
//    overflow: hidden;
//    &:hover {
//        position: relative;
//        animation: wave-many 3.5s infinite linear;
//        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -15 100 100'%3E%3Cpath fill='lightblue' d='M0,50 C0,50 25,25 50,50 C50,50 75,75 100,50 V100 H0 Z' /%3E%3C/svg%3E");
//
//        &::before, &::after {
//            content: "";
//            display: block;
//            position: absolute;
//            top: 0;
//            left: 0;
//            width: 100%;
//            height: 100%;
//            background-image: inherit;
//        }
//
//        &::before {
//            animation: wave-many 4.18s infinite -2.5s linear;
//            opacity: 0.5;
//        }
//
//        &::after {
//            animation: wave-many 4.91s infinite -1.6s linear;
//            opacity: 0.3;
//        }
//    }
//}
//@include keyframes(wave-many) {
//    from {
//        background-position-x: 0;
//    }
//
//    to {
//        background-position-x: var(--size);
//    }
//}